/*.grid{ margin-top:60px; }*/
.mgt60{ margin-top:60px;}
.grid .g1{ float:left; width:330px; }
.grid .g2{ float:right; width:600px; }



.box-login{ border:2px solid #e0e0e0; *zoom:1; padding:25px 15px; background:#fff; width:296px; position:relative; }
.box-login .title-barlogin{ line-height:32px; height:62px; }
.box-login .title-barlogin h2{ color:#514b4b; float:left; font-family:"microsoft yahei"; padding:0 0 5px 40px; background:url(../images/login-sprite.png) no-repeat; cursor:pointer; }
.box-login .title-barlogin h2.current{ border-bottom:2px solid #f42f1b; }
.box-login .title-barlogin .tab-person{ background-position:0 -247px; margin-left:27px; }
.box-login .title-barlogin .tab-company{ background-position:0 -291px; margin-left:17px; }
.box-login .title-barlogin em{ color:#e60012; }
/*.box-login .title-bar{ line-height:32px; height:62px; }
.box-login .title-bar h2{ color:#514b4b; float:left; font-family:"microsoft yahei"; padding:0 0 5px 40px; background:url(../images/login-sprite.png) no-repeat; cursor:pointer; }
.box-login .title-bar h2.current{ border-bottom:2px solid #f42f1b; }
.box-login .title-bar .tab-person{ background-position:0 -247px; margin-left:27px; }
.box-login .title-bar .tab-company{ background-position:0 -291px; margin-left:17px; }
.box-login .title-bar em{ color:#e60012; }*/
.box-login .form-group{ margin-bottom:20px; border:1px solid #cfcfcf; height:34px; line-height:34px; padding-left:37px; background:url("../images/login-sprite.png") no-repeat 0 0; }
.box-login .form-group .ui-placeholder{ height:34px; line-height:34px; background-color:#fff; }
.box-login .form-group input{ background:url("") no-repeat 0 0; border:none;  height:34px; *line-height:34px; line-height:34px\9; padding:0 6px; width:245px; _height:32px; }
.box-login .form-group-password{ background-position:0 -40px; margin-bottom:15px; }
.box-login .form-imgcode{ margin-bottom:20px; border:none; height:34px; line-height:34px;text-align:left; }
.box-login .form-imgcode input{ background:url("") no-repeat 0 0; border:1px solid #cfcfcf;  height:34px; *line-height:34px; line-height:34px\9; padding:0 6px; width:120px; _height:32px; }
.box-login .form-group-imgcode{ margin-bottom:20px; }
.box-login  .link-forgot{ color:#e60012; }
.box-login .item-remember{ line-height:21px; margin-bottom:15px; text-align:left;}
.box-login .item-remember input{ vertical-align:middle; }
.box-login .btn{ display:inline-block; background:url("../images/login-sprite.png") no-repeat 0 -91px; width:295px; height:36px; }
.box-login .btn-nMem{ background:url("../images/login-sprite.png") no-repeat 0 -193px; margin-top:10px; }
.box-login .btn em{ visibility:hidden; }
.box-login .item-third{ margin-top:20px; height:21px; line-height:21px; }
.box-login .item-third dt{ float:left; }
.box-login .item-third dt a{ color:#e60012; }
.box-login .item-third dd{ float:right; }
.box-login .item-third .icon-renren{ padding-left:35px; background:url("../images/login-sprite.png") no-repeat -275px -57px; display:inline-block; height:21px; }
.box-login .item-third .icon-qq{ padding-left:25px; background:url("../images/login-sprite.png") no-repeat -282px 1px; display:inline-block; height:21px; }
.box-login .item-third .sep{ padding-left:10px; padding-right:15px; color:#cfcfcf; }


.box-login .error{ height:28px; line-height:28px; color:#db0b20; padding-left:35px; background:url("../images/login-sprite.png") no-repeat 5px -139px; background-color:#fff2f2; border:1px solid #de0909; margin-bottom:15px;_position:relative; }

.login-thumb{  height:436px; display:block }

.login-bg{background:url(../images/login-ad-bg.jpg) no-repeat center 0; height:528px; width:100%; margin-top:-30px; padding-top:30px }