/*banner*/
.none{ display:none;}
.banner{ min-width:1010px; width:100%; height:466px;  z-index:10; top:0; left:0; background-color:#fff; margin:0 auto; text-align:center; overflow:hidden;position: absolute;}
.banner_show{ width:100%; text-align:center; height:466px; overflow:hidden; position:relative; /*z-index:105;*/}
.bannger_inbox{ position:absolute; left:50%; top:0;}

/*翻页*/
a.banner_pre_next{ width:71px; height:71px; background: url(../images/icon-home-arrow.png) no-repeat; text-indent:-999em; position:absolute; top:190px; z-index:100;}
a.banner_btn_left{ left:71px; background-position:0 0;}
a.banner_btn_right{ right:71px; background-position:right 0px;}


/*圆点*/
.yq_banner_list{ width:1010px; height:25px;position:absolute; top:365px; text-align:right; z-index:100; right:120px; padding-right:12px; left:50%; margin-left:-520px;}
.yq_banner_list a{ display:inline-block; width:19px; height:19px;background:url(../images/home-ad-arrow.png) no-repeat left; margin-right:4px;}
.yq_banner_list a.hover{background:url(../images/home-ad-arrow.png) no-repeat right; }

.reserve11-entance{ position:absolute; right:-110px; top:55px;z-index:200; }


