@charset "utf-8";
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,em,button{margin:0;padding:0;font-family:"微软雅黑", "Microsoft yahei",arial,Simsun, sans-serif;}
body{color:#333; background-color: #fff;  font-size:12px;}
img, fieldset{border:none;vertical-align:middle;}
input, textarea{font-size:12px;}
table{border-collapse:collapse;}
a{color:#333;text-decoration:none;}
a:hover{text-decoration:none;}
h1,h2,h3,h4,h5{font-family:"微软雅黑","Times New Roman",Simsun;}
ul,ol,li{list-style:none;}
input[type="button"],input[type="submit"]{-webkit-appearance:none;}

.s8pc{ width:100%; text-align:center; position:relative; }
.focus-wrap{ position:relative; height:466px; width:100%; min-width:1010px; }
.main{ width:100%; position:relative; height:800px;}
.main-1010{ width:1010px; margin:0 auto; background:#0FF; position:relative; z-index:99; }
/*.main-pe{ position:relative; z-index:99px; }*/
.main-po{ position:absolute; top:-45px; left:0; width:1010px; z-index:100; }

.s8pc .top_head{ position:absolute; top:0; left:50%; z-index:102; margin-left:-505px; }
.s8pc .top_menu{ position:absolute; top:58px; left:50%; z-index:101; margin-left:-505px; }
.s8pc .top_logo{ position:absolute; left:50%; z-index:103; margin-left:-485px; }
.s8pc .searchbox{ position:absolute; top:125px; left:50%; z-index:104; margin-left:-505px; }

.content-wrap{ width:1010px; margin:0 auto;  }
.searchbox{ background:url(../images/black_bg.png);-moz-border-radius:0.2em; 
-webkit-border-radius: 0.2em; 
border-radius:0.2em;
-webkit-box-shadow: 0px 0px 3px #666; 
-moz-box-shadow: 0px 0px 3px #666; 
box-shadow: 0px 0px 3px #666;
width:383px; height:224px; color:#FFF; padding-top:20px;/* z-index:200;position: absolute; left:0;*/}
.searchbox a{ color:#FFF}
.searchbox ul{text-align:right; margin-right:25px;}
.searchbox li{ height:30px; line-height:30px; padding:9px 0; }
.searchbox li .mrgl20{ margin-left:19px;}
.searchbox input{ height:30px; line-height:30px; -moz-border-radius:0.2em; 
-webkit-border-radius: 0.2em; 
border-radius:0.2em; box-shadow:0 0 3px #777 inset; border:none; margin-left:6px;}
.searchbox .city{ width:265px; font-size:14px; padding-left:10px; }
.searchbox .kong{ height:12px; line-height:12px; padding:0;}
.searchbox .date{ width:87px; *width:84px; font-size:12px; padding-left:10px;}
.search_b{ width:177px; height:32px;font-size:14px; font-weight:bold; color:#FFF; line-height:32px; text-align:center; text-decoration:none; display:inline-block; box-shadow:0 1px 3px #666;-webkit-box-shadow:0 1px 3px #666;box-shadow:0 1px 2px #999;-webkit-box-shadow:0 1px 2px #999; background:url(../images/nh-btn-srch.jpg) no-repeat 0 0;
-webkit-box-shadow: 0px 0px 3px #666; 
-moz-box-shadow: 0px 0px 3px #666;
box-shadow: 0px 0px 3px #666;text-shadow: 0 1px 3px #123;}
.su8-dp .dp-info .dp-text{ display:none; }
.su8-dp .dp-info b{ display:none; }
.mapse{ height:30px; line-height:30px; margin:0 12px 0 20px;}
.mapse img{ margin-right:5px;}
.qr{ background-color:#f0f0f0; width:100%; height:158px;-moz-border-radius:0.2em; 
-webkit-border-radius: 0.2em; 
border-radius:0.2em;
-webkit-box-shadow: 0px 0px 3px #666; 
-moz-box-shadow: 0px 0px 3px #666; 
box-shadow: 0px 0px 3px #666; z-index:100;/* margin-top:410px;*/}

.qr_left{width:456px; float:left; text-align:center; margin-left:20px; _margin-left:10px;}
.qr_left li{ float:left; width:26%; text-align:center; line-height:20px; height:130px; padding-top:28px; font-weight:bold}
.qr_left li.c400{ margin-top:16px; width:40%; height:70px;}
.qr_right{width:534px; text-align:center; float:right; font-size:20px; font-weight:bold; color:#000; margin-top:20px; position:relative;}
.qr_right input { height:28px; border:#aaa 1px solid; border-radius:3px;-moz-border-radius:3px; font-size:14px; width:120px; line-height:28px; padding-left:10px;}
.qr_right ul{ margin-top:25px;}
.qr_right li{ width:86px; float:left; font-size:12px; font-weight:normal; text-align:center}
.qr_right li img{}
.qr_right a{ color:#000;}

.home_around{ background:url(../images/home_blue_aroound.gif) #fff left bottom repeat-x;padding-bottom:31px;border-top:1px solid #ccc;display:none; overflow:hidden; }
.home_around_box{ padding:5px 25px 0px; overflow:hidden; zoom:1;}
.home_around_tab{ overflow:hidden; zoom:1; background:url(../images/home_around_xian.gif) left top repeat; margin:0px 5px;}
.home_around_tab li{ float:left; padding-right:50px; height:29px; }
.home_around_tab li a{float:left; font:bold 12px/29px "微软雅黑"; color:#000;cursor:pointer;}
.home_around_tab li a:hover{ background:url(../images/order_zbon.gif) left bottom repeat-x;color:#009bcb;}
.home_around_tab li a.home_around_tabon{ background:url(../images/order_zbon.gif) left bottom repeat-x;color:#009bcb;}
.home_around_change{ overflow:hidden; zoom:1; padding:10px 0px;}
.home_around_change li{width:120px; float:left; padding-top:5px;}
.home_around_change li a{ float:left; max-width:105px; line-height:18px; color:#000; cursor:pointer; border-radius:3px;-moz-border-radius:3px;height:18px; padding:0 5px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; text-align:left; }
.home_around_change li a:hover{ border-radius:3px;-moz-border-radius:3px; color:#fff; background-color:#009bcb; }
/*.home_around_change li a.home_around_changeon{border:1px solid #009bcb;border-radius:3px;-moz-border-radius:3px; color:#fff; background-color:#009bcb; }*/
.home_around_sj{ background:url(../images/home_around_sj.png) left top no-repeat;_background-image:url(../images/home_around_sj.gif);width:18px; height:10px; position:absolute; z-index:100;}

.main_right{margin-top:18px; width:591px;float:right }

.tejia{height:223px; overflow:hidden;}
.tejia li{ width:127px; height:100px; float:left; background:#fff; margin:0 0 22px 28px; text-align:left}
.tejia li strong{ color:#dd090a; font-size:16px; font-weight:bold;}
.tejia li .zhekou{ background:#ff9c00; color:#FFF; padding:1px 4px 1px 4px; margin-right:6px;}
.tejia .tj_big{ width:280px; height:222px; float:left; background:#eee; margin:0;}
.tejia .tj_big .big{ position:relative; left:0; z-index:100}
.tejia .tj_big .jiaobiao{width:88px; height:54px; z-index:200; position:absolute}
.tejia a{ display:block; position:relative; z-index:0; }
.tejia .HoverTit{ position:absolute; bottom:0; width:100%; background:rgba(255,255,255,0.6)!important; filter:Alpha(opacity=60); background:#fff; z-index:888; left:0; color:#000000; }
.tejia .HoverTit h4,.tejia .HoverTit h5{ position:relative; display:block; height:auto; line-height:35px; }
.tejia .HoverTit h4{ float:left; margin-left:10px; font:normal 18px/35px microsoft Yahei; }
.tejia .HoverTit h5{ float:right; margin-right:10px; font:normal 14px/35px microsoft Yahei; }
.tejia .HoverTit h5 b{ font:normal 24px/35px Verdana, Geneva, sans-serif; color:#ff0000; }


.tetui{}
.tetui h2{ font-size:18px; font-weight:normal; color:#dc0001; height:20px; line-height:20px; width:100%; border-bottom:#dc0001 2px solid; text-align:left; padding:20px 0 4px 0; margin-bottom:20px;}
.tetui li{float:left; width:288px; height:60px; margin-right:7px; text-align:left;line-height:14px;}
.tetui li a{ color:#999; }
.tetui img{ border:#d7d7d7 1px solid; padding:3px; float:left; margin-right:8px;}
.tetui h3{ font-weight:bold; font-size:12px; margin-bottom:-10px; color:#333;white-space: nowrap;text-overflow:ellipsis; overflow:hidden; width:212px;}
.main_left{ width:383px; float:left; margin:18px 0 }
.card{ width:382px; height:124px; background-color:#f0f0f0;-moz-border-radius:0.2em; 
-webkit-border-radius: 0.2em; 
border-radius:0.2em; line-height:35px; text-align:left; left:10px;}
.card span{margin-left:130px;}
.news{width:376px;-moz-border-radius:0.2em; 
-webkit-border-radius: 0.2em; 
border-radius:0.2em; border:#f0f0f0 3px solid; margin-top:20px;}
.news li{ }
.news a{ display:block; width:192px; padding-left:172px; height:99px; border:#f0f0f0 1px solid; margin:5px; }
.news li h3{ text-align:left; font:normal 26px/1 microsoft Yahei; margin:28px 0 8px 0; *margin-left:-17px; }
.news li p{ text-align:left; font:12px/1 microsoft Yahei; color:#515150; }
.news .first{ background:url(../images/hh-news-1.gif) no-repeat 0 bottom #f8f8f8;}
.news .first h3{ color:#ffc000; }
.news .sec{ background:url(../images/hh-news-2.gif) no-repeat 0 bottom #f8f8f8;}
.news .sec h3{ color:#ff8400; }
.news .third{ background:url(../images/hh-news-3.gif) no-repeat 0 bottom #f8f8f8;}
.news .third h3{ color:#44b412; }
.news .fourth{ background:url(../images/hh-news-4.gif) no-repeat 0 center #f8f8f8;}
.news .fourth h3{ color:#f194c7; }


.botton_bu{ width:100%; height:82px; text-align:center; clear: both }
.botton_bu img{ border:#afafaf 1px solid; margin-right:20px;}
.botton_bu .b_r{ margin-right:0;right:0}

