/*reset*/
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,fieldset,lengend,button,input,textarea,th,td{margin:0;padding:0}body,button,input,select,textarea{font:12px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif}h1{font-size:18px}h2{font-size:16px}h3{font-size:14px}h4,h5,h6{font-size:100%}address,cite,dfn,em,var{font-style:normal}code,kbd,pre,samp,tt{font-family:"Courier New",Courier,monospace}small{font-size:12px}ul,ol{list-style:none}a{text-decoration:none}a:hover{text-decoration:underline}abbr[title],acronym[title]{border-bottom:1px dotted;cursor:help}q:before,q:after{content:''}legend{color:#000}fieldset,img{border:0}button,input,select,textarea{font-size:100%}table{border-collapse:collapse;border-spacing:0}hr{border:0;height:1px}html{overflow-y:scroll}

body{ font-family: Tahoma, Geneva, sans-serif; min-width:1000px; }

html{ _background-image:url(about:blank); _background-attachment:fixed;}   /*for ie 6*/
body{ _background-attachment:scroll; }  /*for ie 6*/

input:focus{ outline:none; }
.fl{float:left;}
.fr{float:right;}
.f12{font-size:12px;}
.f14{font-size:14px;}
.text-left{text-align:right;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.hidden{display:none;}
.clear{ clear:both; }
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix{zoom:1;}

.font-arial{ font-family:"arial"; }
.font-simsun{ font-family:"simsun"; }
.font-yanhei{ font-family:"microsoft yahei"; }
.font-tahoma{ font-family:"Tahoma"; }

.red{ color:#e60012; }
.blue{ color:#5b87c0; }
.green{ color:#6ead2b; }
.gray{ color:#b4b4b4; }
.blue{ color:#4684ca;}
.orange{ color:#ff8a00; }
.black{ color:#000; }

.f12{ font-size:12px; }
.f18{ font-size:18px; }

a{text-decoration:none;outline: medium none;color:#222;}
a:hover{text-decoration:underline;}

.mt10{ margin-top:10px; }
.mt15{ margin-top:15px; }
.mt20{ margin-top:20px; }
.mt25{ margin-top:25px; }
.mt30{ margin-top:30px; }
.mb30{ margin-bottom:30px; }
.ml15{margin-left:15px;}

.su8-dp{ position:relative; display:inline-block; z-index:2; }
.su8-dp{ *display:inline; }
.su8-dp .dp-prefix{ position:absolute; top:3px; left:0; padding:0 0 0 4px; height:15px; font-size:12px; line-height:15px; text-align:right; cursor:pointer; *top:5px; _top:4px; top:6px\0 }
:root .su8-dp .dp-prefix{ top:4px\9 }
.su8-dp .dp-info{ position:absolute; top:8px; right:6px; padding:0 0 0 4px; height:15px; font-size:12px; line-height:15px; text-align:right; cursor:pointer; width:20px; }
.su8-dp .dp-info b{ float:right; display:inline; width:20px; height:15px; background:url(../images/icon-calendar.png) 0 0 no-repeat }
.su8-dp .dp-info .dp-text{ float:right; display:inline; font-family:simsun, arial, sans-serif; background-color:#fff; _margin-top:1px; margin-right:3px }
.su8-dp .q-datepicker{ position:absolute; top:29px; left:1px; width:440px; height:225px; *zoom:1; z-index:3; }
.su8-dp .q-datepicker .g{ position:absolute; top:1px; left:-1px; z-index:2; border:1px solid #bababa; width:440px; background-color:#fff; overflow:hidden }
.su8-dp .q-datepicker .g:after{ clear:both; display:block; height:0; visibility:hidden; content:"\20" }
.su8-dp .q-datepicker .c{ position:relative; z-index:1; float:left; display:inline; margin-left:-1px; border-left:1px solid #ccc; width:200px; overflow:hidden; padding:0 10px 5px 10px; height:217px }
.su8-dp .q-datepicker .cm{ display:none; }
.su8-dp .q-datepicker .h{ height:23px; text-align:center; font:bold 16px/20px tahoma, arial, sans-serif; padding:8px 12px; color:#444 }
.su8-dp .q-datepicker .p{ position:absolute; top:0; left:0; width:27px; height:37px; background:url(../images/icon-su8-dp.png) left 0 no-repeat; cursor:pointer }
.su8-dp .q-datepicker .n{ position:absolute; top:0; right:0; cursor:pointer; background:url(../images/icon-su8-dp.png) right 0 no-repeat; width:27px; height:37px }
.su8-dp .q-datepicker .p:hover, .su8-dp .q-datepicker .n:hover{ background-color:#d2f2f4 }
.su8-dp .q-datepicker table{ border-collapse:collapse; width:100%; z-index:40; position:relative }
.su8-dp .q-datepicker th{ border-bottom:1px solid #ccc; width:28px; height:27px; line-height:27px; text-align:center; font-weight:normal; color:#444; }
.su8-dp .q-datepicker td{ width:28px; height:25px; font:normal 12px/25px tahoma, arial, sans-serif; cursor:pointer; text-align:center; vertical-align:middle; color:#4b96fd; padding:0 !important }
.su8-dp .q-datepicker td span{ display:block; width:100% }
.su8-dp .q-datepicker .w0{ color:#375e97 }
.su8-dp .q-datepicker .w6{ color:#375e97 }
.su8-dp .q-datepicker .st-t{ color:#de2f3c; font-weight:normal }
.su8-dp .q-datepicker .st-a{ background-color:#375e97; color:#fff }
.su8-dp .q-datepicker .st-a.st-d{ color:#fff }
.su8-dp .q-datepicker .st-a.st-d:hover{ background-color:#00afbc; color:#fff }
.su8-dp .q-datepicker .st-s{ background-color:transparent; cursor:default }
.su8-dp .q-datepicker .st-s:hover, .su8-dp .q-datepicker .st-s-hover{ background-color:transparent; _background-color:#fff; cursor:default }
.su8-dp .q-datepicker .st-area{ background-color:#efefef; }
.su8-dp .q-datepicker .holi{ color:#de2f3c; font-weight:normal }
.su8-dp .q-datepicker .st-holi-default{ color:#de2f3c }
.su8-dp .q-datepicker .st-h{ background-color:#f6c853; color:#fff }
.su8-dp .q-datepicker .st-h.holi, .su8-dp .q-datepicker .st-h .st-holi-default{ color:#fff }
.su8-dp .q-datepicker .st-d{ color:#bbb; cursor:default;}
.su8-dp .q-datepicker .st-d:hover, .su8-dp .q-datepicker .st-d-hover{ background-color:transparent; color:#cde2e4; cursor:default; }
.su8-dp .q-datepicker .st-a-r{ background-color:#375e97; color:#fff }
.su8-dp .q-datepicker .st.holi.st-a .st-holi-default, .su8-dp .q-datepicker .st.holi.st-a-r .st-holi-default{ color:#fff }
.su8-dp .su8-dp-toD td:hover, .su8-dp .su8-dp-toD .td-hover{ background-color:#6899ff; color:#fff; cursor:pointer }
.su8-dp .su8-dp-toD td.st-a-r{ background-color:#6899ff; color:#fff }
.su8-dp .errtext{ color:red }
.su8-dp .prefix{ float:left }

i.arrow{ vertical-align:middle; display:inline-block; width:0; height:0; border:4px solid; border-left-color:#fff; border-right-color:#fff; border-width:4px 4px 0 4px; font-size:0; overflow:hidden }
i.arrow{ *display:inline; }

.wrapper{ width:1000px; margin:0 auto; }

.grid-1000 .g2{ float:left; width:650px }
.grid-1000 .g1{ float:right; width:290px; }
.grid-950{ width:950px; }
.grid-950 .g2{ float:left; width:680px; }
.grid-950 .g1{ float:right; width:250px; }

.pager{ text-align:center; height:40px; }
.pager span, .pager a{ margin-right:1px; padding:0px 16px; background:#eee; display:inline-block; vertical-align:middle; line-height:40px; vertical-align:top; float:left; font-size:14px; color:#666; font-family:"arial" }
.pager .prev,.pager .next{ font-family:"microsoft yahei"; }
.pager .current{ background:#666; color:#fff }
.pager span.prev, .pager span.next{ background:#eee; color:#666; display:none; }
.pager a:hover, .pager a:active{ background-color:#dcdcdc; text-decoration:none; color:#333; }
.pager span{ color:#999 }
.pager span.current{ background:#666; color:#fff; }
.pager span, .pager a{ *display:inline; }
.pager-inner{ display:inline-block; }
.pager-inner{ *display:inline; }

/*
  btn*/
.btn-s{padding-right:15px;background-position:right 0;}
.btn-s,.btn-s em{cursor:pointer;height:23px;display:inline-block;font-size:12px;line-height:21px;line-height:23px\9;_line-height:23px;*line-height:23px; vertical-align:top;}
.btn-s em{cursor:pointer;padding-left:15px;background-position:left 0;line-height:21px;line-height:23px\9;_line-height:23px;*line-height:23px; }


/*.btn-s:hover{text-decoration:none;background-position:right -30px;}*/
/*.btn-s:hover em{background-position:left -30px;}*/
/*.btn-s:active{background-position:right -60px;}*/
/*.btn-s:active em{background-position:left -60px;}*/
/*.btn-s-disable,.btn-s-disable:hover,.btn-s-disable:active{background-position:right -89px;cursor:default;}*/
/*.btn-s-disable em,.btn-s-disable:hover em,.btn-s-disable:active em{background-position:left -89px;cursor:default;}*/

.btn-red,.btn-red em{ background-image:url("../images/btn-red.png"); background-repeat:no-repeat; color:#fff; }
.btn-red em .icon-loading{ padding:4px 4px 0; }
.group-full .btn-red,.group-full .btn-red em{ background-image:url(../images/btn-grey.png); cursor:default; }
.btn-group-full, .btn-group-full em{ background-image:url(../images/btn-grey.png); cursor:default; }
.btn-yellow,.btn-yellow em{ background-image:url("../images/btn-yellow.png"); background-repeat:no-repeat; color:#fff; }
.btn-yellow-disable,.btn-yellow-disable em{ }
.btn-yellow53{ background:url(../images/btn-yellow53.gif) no-repeat;color:#fff; display:inline-block; width:53px; height:23px; line-height:23px; text-align:center; cursor:pointer;}
.btn-recharge{ padding:0 18px; background:#57a0ea; color:#fff; font-size:12px; line-height:31px; display:inline-block; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px }

/*ui
  -menu*/
.ui-menu-select { z-index:1; display:inline-block; position:relative; cursor:pointer; width:100px;border:2px solid #cecece;height:25px;font-size:12px;line-height:25px;background:#fff;color:#999;}
.ui-menu-select {*display:inline;}
.ui-menu-select:focus{outline:none}
.ui-menu-select .menu-arrows { display:inline-block;position:absolute;top:11px;right:10px; display: inline-block;width:0; height:0; border:4px solid; border-left-color: #fff; border-right-color: #fff; border-width: 5px 5px 0 5px;font-size: 0; overflow: hidden; }
.ui-menu-select .menu-list {position:absolute;z-index:100;border:1px #999 solid;font:12px/40px "\5FAE\8F6F\96C5\9ED1";background:#FFF;z-index:100;-webkit-box-shadow:2px 2px 3px #999;-moz-box-shadow:2px 2px 3px #999;box-shadow:2px 2px 3px #999;display:none; overflow-y:auto;overflow-x:hidden;width:100%;left:-1px;top:28px;}
.ui-menu-select .menu-name { color:#666; display:inline-block; height:100%; overflow:hidden; padding-right:30px; padding-left:10px; }
.ui-menu-select ul { padding:0; }
.ui-menu-select li { line-height:35px; }
.ui-menu-select li.current a,.ui-menu-select li.current a:hover { background:#0179DC; color:#fff; }
.ui-menu-select li span.item-sep,.ui-menu-select li span.item-group { padding:0 10px 0 20px; }
.ui-menu-select li span.item-group { font-weight:bold; color:#333; }
.ui-menu-select li a i.item-index { display:inline-block; width:30px; font-style:normal; color:#666; }
.ui-menu-select li a i.item-index { display:inline-block; }
.ui-menu-select li a { color:#333; display:block; padding:0 10px 0 8px; text-decoration:none; height:35px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.ui-menu-select li a:hover { color:#333; text-decoration:none; background-color:#E5E5E5; }
.ui-menu-select-active { z-index:100; }
.ui-menu-select-active .menu-list { display:block; }
.ui-menu-select-active .menu-arrows { background-position:0 -45px; }

.ui-menu-blink{background:#fff6f7;border:1px #F33 solid}

/*keep-top*/
.ui-keep-top{ margin-top:0; position:fixed; top:0; background-color:#FFF; z-index:100; _position: absolute; }

/*.ui-placeholder*/
.ui-placeholder{ height:29px; line-height:29px; position:relative; display:inline-block; z-index:1; *zoom:1; }
.ui-placeholder .placeholder-text{ font-size:12px; position:absolute; left:5px; color:#ccc; top:0; z-index:2; }
.ui-placeholder-focus .placeholder-text{ display:none; }

.ui-placeholder-re{  height:31px; line-height:29px;  position:relative; z-index:1; *zoom:1; clear:both; }
.ui-placeholder-re .placeholder-text-re{ font-size:12px; line-height:31px; position:absolute; left:120px; color:#ccc; top:0; z-index:2; }
.ui-placeholder-focus .placeholder-text-re{ display:none; }

/*header*/
.top_logo{width:52px; height:80px;position: absolute;z-index:250; margin:35px 0 0 20px; left:0;}
.top_head{width:1010px; margin:0 auto; height:58px;position:relative; font-family:microsoft Yahei; z-index:2000;}
.top_head_left{ float:left; width:460px; text-align:right; margin-top:15px; }
.top_head_right{float:right;height:58px; width:200px;}
.top-head-400{ float:right; font:14px/24px microsoft Yahei; color:#090104; padding-top:16px; text-shadow:1px 1px 1px #fff; -moz-text-shadow:1px 1px 1px #fff; -webkit-text-shadow:1px 1px 1px #fff; }
.top-head-pop{ width:250px; border:3px solid #ff9c00; position:absolute; right:0; top:58px; z-index:2000; background:#fff; display:none;  }
.top-head-pop .pop-img{ height:253px; background:url(../images/head-app-pop.gif) no-repeat 24px 24px; }
.top-head-pop .pop-bottom{ background:#ffeac9; text-align:center; line-height:43px; display:block; color:#090104; font-size:16px; }

.top_menu{ width:910px;height:38px;line-height:38px; background:#d40f1f; margin:0 auto 30px auto;
-moz-border-radius:0.2em; 
-webkit-border-radius: 0.2em; 
border-radius:0.2em;
-webkit-box-shadow: 0px 0px 3px #666; 
-moz-box-shadow: 0px 0px 3px #666; 
box-shadow: 0px 0px 3px #666; color:#FFF; font-size:13px; text-align:left; padding-left:100px; font-family:microsoft Yahei; }
.top_menu a{ color:#FFF; }
.top_menu_text{ height:38px }
.top_menu_text a{ margin-left:10px; padding:10px; line-height:18px; float:left }
.top_menu_text a:hover, .top_menu_text a.hover{ text-decoration:none; background:#F00; color:#FFF}

.top_menu .newProductEntrance{position:absolute; right:-37px; top:23px; background:url(../images/newp-menu-bg.png) no-repeat 0 0; padding-top:12px; width:188px; height:123px; text-align:center; display:none;z-index:200; }
.top_menu .newProductEntrance li{ margin:0 32px; padding:7px 0 }
.top_menu .newProductEntrance li:first-child{ border-bottom:2px solid #eab550 }
.top_menu .newProductEntrance li a{ margin:0 }
.top_menu .newProductEntrance li a:hover{ background:none }
.top_menu .newProductMenu{ color:#fff21a; background:url(../images/new-nav-bgpic.gif) no-repeat 0 0 #F00; height:22px; line-height:22px; margin-top:-2px; display:inline-block; padding:10px 15px; font-weight:bold; font-size:14px }
.top_menu .newProductMenu:hover{ background:url(../images/new-nav-bgpic.gif) no-repeat 0 0 #F00; }

.top_menu_text{width:680px; float:right; position:absolute}
.top_menu_mys8{float:right;height:38px; width:200px; background-color:#b3141c; right:0; font-size:12px; line-height:38px; text-align:center;-moz-border-radius:0.2em; 
-webkit-border-radius: 0.2em; 
border-radius:0.2em; vertical-align:top;}
.top_menu_mys8 i{ font-style:normal; display:inline-block; width:90px; height:38px; overflow:hidden; text-overflow:ellipsis; vertical-align:top; }
.top_menu_mys8 span{ font-size:14px; margin-left:10px; display:inline-block; position:relative;  padding-right:17px; background:url(../images/nh-icon-mydown.gif) no-repeat right 17px; vertical-align:top; z-index:1000;}
.top_menu_mys8 .mys8-menu{ display:inline-block; }
.top_menu_mys8 .alert-pay{ padding-left:18px; background:url(../images/menu-icons.png) no-repeat 0 8px; }
.top_menu_mys8 .dropmenu-content{ display:none; position:absolute; z-index:1000; top:35px; right:-5px; width:125px; border:2px solid #e60012; background-color:#fff; padding:5px 0 10px; }
.top_menu_mys8 .dropmenu-content li{ height:31px; }
.top_menu_mys8 .dropmenu-content li a{ display:block; height:31px; line-height:31px; padding:0 20px 0 10px; color:#222; font-size:12px; text-align:left; }
.top_menu_mys8 .dropmenu-content li a:hover{ background-color:#fff3b2; text-decoration:none; }
.top_menu_mys8 .dropmenu-content li em{ float:right; }
.top_menu_mys8 .dropmenu-content li .alert-p-num{ width:18px; text-align:center; background:url(../images/menu-icons.png) no-repeat 0 -26px; color:#fff3b2; font-weight:bold; }
.top_menu_mys8 .dropmenu-content li .exit{ background:#ffc600; color:#eb0808; border:1px solid #fbab39; font:12px/25px microsoft Yahei; width:110px; height:25px; padding:0; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; margin:5px 0 0 5px; box-shadow:1px 1px 1px #f9dbcc; text-align:center; }
.top_menu_mys8 .dropmenu-content li .exit:hover{ background:#ffd236; }
.top_menu_mys8 .dropmenu-nlogin{ width:155px; }
.top_menu_mys8 .dropmenu-content .login-btn{ background:#ffc600; color:#eb0808; border:1px solid #fbab39; font:bold 16px/35px microsoft Yahei; display:inline-block; width:130px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; margin:10px 0 5px; box-shadow:1px 1px 1px #f9dbcc; }
.top_menu_mys8 .dropmenu-content .login-company{color:#3867bb; line-height:24px; font-size:12px; }

/*footer*/
.footer{width:100%; height:600px; color:#dedede;background-color:#5f5f5f; margin-top:30px; clear:both; font-family:microsoft Yahei;}
.footer a{color:#dedede;}
.k_link{width:1010px; margin:0 auto; overflow:hidden; clear:both;}
.k_link div{ margin-top:30px;width:251px; float:left; border-left:#9f9f9f 1px solid; text-align:left; height:185px;}
.k_link div .nofl{ float:none}
.k_link a{ margin-left:63px; margin-top:10px; line-height:22px;}
.k_link h3{ height:32px; line-height:32px; margin-left:20px; font-size:16px; font-weight:normal}
.k_link img { margin-right:10px; vertical-align:middle;}
.k_link ul{ margin-top:20px;}

.b_link{width:1010px; margin:0 auto; height:140px; line-height:140px; text-align:center; clear:both; }
.b_link a{ margin:0 12px 0 12px;}
.b_logobox{margin:0 auto; width:1010px; text-align:center;}
.b_logobox div{ border:#dedede 1px solid; width:720px; height:125px; margin:0 auto; margin-top:20px;}
.b_logobox .b-logos-wrap a {
    background-image: url("../images/brandBar-cn.gif") !important;
    display: block;
    float: left;
    text-indent: -9999px;
}
.b_logobox ul {
    clear: both;
    height: 55px;
    display:block;
	margin-left: 45px;
}
.b_logobox ul.firstUl {
    padding: 14px 0 0 8px !important;
	margin-left:0;
}
.b_logobox ul li{ float:left; }
#fb_dolce {
    background-position: -12px -10px;
    height: 31px;
    margin: 6px 0 0 20px;
    width: 54px;
}
#fb_wyndham_grand_collection {
    background-position: -89px -10px;
    height: 31px;
    margin: 6px 0 0 18px;
    width: 117px;
}
#fb_wyndham_hotels_resorts {
    background-position: -226px -10px;
    height: 31px;
    margin: 6px 0 0 20px;
    width: 85px;
}
#fb_wyndham_garden {
    background-position: -332px -10px;
    height: 31px;
    margin: 6px 0 0 20px;
    width: 86px;
}
#fb_tryp {
    background-position: -437px -10px;
    height: 31px;
    margin: 6px 0 0 20px;
    width: 30px;
}
#fb_wingate {
    background-position: -486px -10px;
    height: 31px;
    margin: 6px 0 0 20px;
    width: 50px;
}
#fb_hawthorn {
    background-position: -554px -10px;
    height: 31px;
    margin: 6px 0 0 20px;
    width: 61px;
}
#fb_microtel {
    background-position: -636px -10px;
    height: 31px;
    margin: 6px 0 0 20px;
    width: 53px;
}
#fb_ramada {
    background-position: -28px -66px;
    height: 35px;
    margin: 6px 0 0 7px;
    width: 62px;
}
#fb_baymont {
    background-position: -136px -66px;
    height: 35px;
    margin: 6px 0 0 45px;
    width: 62px;
}
#fb_days_inn {
    background-position: -243px -66px;
    height: 35px;
    margin: 6px 0 0 45px;
    width: 51px;
}
#fb_super8 {
    background-position: -357px -66px;
    height: 35px;
    margin: 6px 0 0 45px;
    width: 23px;
}
#fb_howard_johnson {
    background-position: -426px -66px;
    height: 35px;
    margin: 6px 0 0 45px;
    width: 73px;
}
#fb_travelodge {
    background-position: -542px -66px;
    height: 35px;
    margin: 6px 0 0 44px;
    width: 61px;
}
#fb_knights_inn {
    background-position: -648px -66px;
    height: 35px;
    margin: 6px 0 0 45px;
    width: 27px;
}
.copyright{width:1010px; margin:0 auto; height:30px; line-height:30px; margin-top:20px; text-align:center; }

/*crumbs*/
.crumbs{ line-height:21px; height:21px; padding:10px 0 5px; border-bottom:2px solid #d4161e; color:#afafaf; margin-top:5px; }
.crumbs h1{ line-height:21px; color:#afafaf; display:inline; font-weight:normal; font-size:12px }
.crumbs a{ color:#afafaf; }
.crumbs a h1{ color:#afafaf; }
.crumbs .sep{ margin:0 8px; }

/*table*/
.table-hotel-price{ color:#333; }
.table-hotel-price{ width:100%; table-layout:fixed; }
.table-hotel-price ul{ zoom:1; }
.table-hotel-price ul:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.table-hotel-price li{ float:left; }
.table-hotel-price .col-1{ width:273px; font-size:14px; }
.table-hotel-price .col-1a{ width:243px; }
.table-hotel-price .col-2{ width:75px; text-align:left; }
.table-hotel-price .col-3{ width:76px; text-align:left; }
.table-hotel-price .col-4{ width:90px; text-align:left; }
.table-hotel-price .col-5{ width:60px; text-align:left; font-family:Tahoma, Geneva, sans-serif; }
.table-hotel-price .col-6{ width:97px; text-align:left; }
.table-hotel-price .col-6a{ width:86px; text-align:left; }
.table-hotel-price .col-2,
    .table-hotel-price .col-2,
    .table-hotel-price .col-3,
    .table-hotel-price .col-4{ font-family: tohoma,verdana,arial; }
.table-hotel-price .row-head{ border-top:2px solid #edeaea; font-weight:bold; padding:6px 0 0; line-height:15px; background:url(../images/hotel_titleLine.gif) repeat-x center top; }
.table-hotel-price .row-head .col-4 .icon-price-mem{ vertical-align:middle; padding-left:1px; }
.table-hotel-price .group{ border:1px solid #ededed; margin:8px 0; background-color:#f9f9f9; line-height:16px; }
.table-hotel-price .group .cheapest{ display:inline-block; width:16px; height:16px; background-repeat:no-repeat; margin-top:9px;float:left;line-height:16px; font-size:12px; color:#fff; text-align:center; margin-right:10px; }
.table-hotel-price .group .dui{ background-image:url(../images/icon-special.gif);background-position:-1px -2px;}
.table-hotel-price .group .te{ background-image:url(../images/icon-special.gif);background-position:-21px -2px;}
.table-hotel-price .group .quanr{ background-image:url(../images/icon-special.gif);background-position:-42px -2px; cursor:pointer;}
.table-hotel-price .group .li{ background-image:url(../images/icon-special.gif);background-position:-64px -2px; cursor:pointer;}
.table-hotel-price .group .zhong{ background-image:url(../images/icon-special.gif);background-position:-86px -2px;}
.table-hotel-price .group .hui{ background-image:url(../images/icon-special.gif);background-position:right -2px;}
.table-hotel-price .group .return{ background:#FF5131; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; width:auto; padding:0 3px}
.table-hotel-price .group .col-1{ width:267px; padding-left:6px; }
.table-hotel-price .group .col-1 a{ _height:21px; _line-height:21px; _margin-top:9px; _display:inline-block; _vertical-align:middle; }
.table-hotel-price .group .memberprice{ border-bottom:1px dashed #131313;	cursor:default; line-height:20px; }
.table-hotel-price .group .noborder{border:none;}
.table-hotel-price .group .memberprice em{ font-size:20px; color:#ff8a00;}
.table-hotel-price .group .memberprice i{ color:#a5a5a5; font-style:normal;}
.table-hotel-price .group .col-7{ width:45px; margin-right:20px; text-align:right; padding-right:5px; }
.table-hotel-price .group .col-8{ width:84px; border-bottom:none; }
.table-hotel-price .icon-pic{ display:inline-block; height:21px; line-height:21px; vertical-align:middle; _margin-top:9px; color:#d7161e; border-bottom:1px dashed #d7161e; float:left; margin-top:5px; margin-right:10px; }
.table-hotel-price .icon-pic:hover{ text-decoration:none; }
.table-hotel-price .group span{display:inline-block;}
.table-hotel-price .group span.icon_prepay{margin:6px 0;}
.table-hotel-price .group span.icon-discount{ padding:9px 0 9px 6px; color:#e60012 }
.table-hotel-price .price_box span.icon-discount{ padding-left:3px }
.table-hotel-price .group span .red{ font-family:Tahoma, Geneva, sans-serif; }
.table-hotel-price .row-expand span{display:none;}
.table-hotel-price .price_box{background:#fff;padding:0 17px 0 30px; border-top:1px dashed #e7e7e7;}
.table-hotel-price .price_box .price_ul{border-bottom:1px dashed #e7e7e7;}
.table-hotel-price .room_detail{background:#fff9f1; padding:5px 0;}
.table-hotel-price .room_detail .room_pic{margin-right:20px; float:left;}
.table-hotel-price .room_detail .room_equipment{line-height:25px;}
.table-hotel-price .room_detail .room_equipment li{width:165px; display:inline-block; padding-left:5px;}

.group-full .icon-pic{ color:#999; border-color:#999; text-decoration:line-through;}
.group-full .icon-pic:hover{text-decoration:line-through;}
.group-full span{ text-decoration:line-through; color:#999;}
.table-hotel-price .group-full span.memberprice em{color:#aaa;}

.table-hotel-price .btn-s{ margin-top:6px; }
.table-hotel-price .icon_prepay{background:#ffe2cf; color:#d7161e; padding:3px 4px; vertical-align: baseline;}


/*hotel-top-filter*/
.hotel-top-filter-wrapper{ height:62px; }
.hotel-top-filter{ height:30px; padding:14px 10px; line-height:30px; border-bottom:1px solid #e6e6e6; width:980px; background:#fafafa; }
.hotel-top-filter .item{ float:left; margin-right:13px; *zoom:1; }
.hotel-top-filter .item dt{ float:left; padding-right:8px; }
.hotel-top-filter .item dd{ float:left; }
.hotel-top-filter .item-last{ margin-right:0; }
.hotel-top-filter input{ border:2px solid #cecece; height:25px; width:103px; padding:0 6px; line-height:25px; line-height:25px\9; }
.hotel-top-filter .btn-search{ background-color:#d7161e; text-decoration:none; color:#fff100; width:126px; height:29px; font-weight:bold; font-size:14px; text-align:center; border:0; display:inline-block; float:right;  }
.hotel-top-filter .select-num{ border:2px solid #cecece; height:25px; line-height:25px; width:60px; }


/*crumbs-reserve-step*/
.crumbs-reserve-step{ float:right; height:21px; }
.crumbs-reserve-step li{ float:left; width:140px; line-height:21px; height:21px; font-weight:bold; }
.crumbs-reserve-step li i{ float:left; display:inline-block; width:16px; height:15px; line-height:16px; font-style:normal; text-align:center; color:#fff; font-family:verdana,arial; font-weight:normal; background:url("../images/crumbs-reserve-step.png") no-repeat -28px 0; margin:2px 6px 0 0; }
.crumbs-reserve-step .current{ color:#ed4909; }
.crumbs-reserve-step .current i{ background-position:-1px 0; }
.crumbs-reserve-step li{ background:url("../images/crumbs-reserve-step.png") no-repeat 92px -32px; }
.crumbs-reserve-step li.last{ background:none; width:80px; }

/*jump-top-box*/
#jump-top-box { width:47px; height:40px; position:fixed; right:20px; display:none; visibility:hidden; }
#jump-top-box .jump-top { width:45px; height:45px; display:block; text-indent:-1000px; overflow:hidden; background:url("../images/jumpbox.png") no-repeat 0 0; }
#jump-top-box .jump-top:hover{ }
#jump-top-box .link-feedback{ background-color:#fff; text-decoration:none; border:1px solid #cfcfcf; display:block; width:45px; height:39px; margin-top:6px; padding:4px 0 2px; text-align:center; line-height:45px; line-height:18px; font-family:"microsoft yahei"; font-weight:bold; color:#808080; }

/*popups*/
.popup{
	/*border:2px solid #c5c5c5;*/
	box-shadow:0 0 3px #b7b7b7;
	-moz-box-shadow:0 0 3px #b7b7b7;
	-webkit-box-shadow:0 0 3px #b7b7b7;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	position:relative;
	background:#fff;
}
.popup .close, .box-login .close{
	position:absolute;
	top:10px;
	right:10px;
}
.popup .titleBar{ border-bottom:2px solid #bebebe; line-height:21px; height:29px; margin-bottom:10px; }
.popup .titleBar h3{ border-bottom:2px solid #d7161e; color:#d7161e; padding-right:6px; float:left; height:29px; margin-bottom:-2px; font-size:16px; font-family:"microsoft yahei"; }
.popup .bottom-btns{padding:20px 0; text-align:center;}
.popup .bottom-btns .btns{ display:inline-block; width:100px; line-height:30px; text-align:center; color:#fff; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; margin:0 5px;}
.popup .bottom-btns .btn-light{ background:#efaf85;}
.popup .bottom-btns .btn-orange{ background:#ff2400;}

.popback{opacity: 0.5;-moz-opacity: 0.5;filter:alpha(opacity=50);}

/*消息弹窗*/
.alert-pop{ width:320px;display:none}
.alert-pop .title-bar{ height:34px; line-height:34px; background:#4d4d4d; border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0;}
.alert-pop .title-bar h4{ color:#fff; font:bold 14px/34px simSun; margin-left:14px; }
.alert-pop .ctn{ padding:30px 20px 0; font:12px/18px simSun; color:#6e6e6e; text-align:center; }
	
/*意见反馈弹窗*/
.advice-pop{ width:425px; padding:10px 20px; }
.advice-pop .item-advice{ line-height:27px; padding: 10px 0 10px 60px; }
.advice-pop .item-advice dt{ margin-left:-60px; _margin-left:-30px; display:inline-block; vertical-align:top; width:55px; text-align:right; font-size:14px; float:left; }
.advice-pop .item-advice dd{ display:inline-block; vertical-align:top; }
.advice-pop .item-advice dd .i-title{ line-height:27px; height:27px; width:350px; padding-left:5px;}
.advice-pop .item-advice dd .ta-ctn{ line-height:18px; width:345px; height:120px; padding:5px;}

#hotel_citylist{position:absolute;width:345px;font-size:12px;border:2px solid #e9b099;background-color:#fff;margin:0;padding:0 0 7px 0;display:none;z-index:2000;overflow:hidden}
.tab{margin:0;padding:0 5px}
.tab_menu{margin:0;padding:0;clear:both}
.tab_menu ul{margin:0;padding:0}
.tab_menu li{float:left;text-align:center;cursor:pointer;list-style:none;margin:0 0;padding:0 5px;width:45px;height:24px;line-height:24px;vertical-align:middle;border-bottom:1px solid #d40f1f;color:#626262}
    
.tab_menu li.hover{color:#d8202c;font-weight:bold}
.tab_menu li.selected{color:#b3141c;border-top:2px solid #d40f1f;border-left:1px solid #d40f1f;border-right:1px solid #d40f1f;border-bottom:0;height:23px}
.tab_box{clear:both;margin-top:5px}
.hide{display:none}
.hotel_brand_list{ padding-top:0px; }
.hotel_brand_list li{float:left;margin-right:5px;height:25px}
.hotel_brand_list li a{color:#626262;float:left;height:18px;line-height:18px;overflow:hidden;padding:0 5px;white-space:nowrap;width:80px;text-align:center}
.hotel_brand_list li a:hover{color:#fff;background-color:#df311a;border-radius:.5em;-webkit-border-radius:.5em;-moz-border-radius:.5em}
.hotel_citylist_title{margin:0 0 10px 0;padding:0 10px;background-color:#f1f1f1;height:30px;line-height:30px;color:#aaa}
.hotel_citylist_title .lft-tip{ float: left; text-align: left;}
.hotel_citylist_title .rght-close{ float: right; text-align: right; cursor: pointer; color:#666; }

/* ui-autocomplete */
.ui-autocomplete{font-size:12px;font-family:Arial,Simsun;position:absolute;z-index:120;width:208px;background-color:#fff}
.ui-widget-content{border:2px solid #e9b099}
.ui-autocomplete .ui-autocomplete-message{display:block;line-height:20px;padding:4px 0 4px 5px;color:#888;border-bottom:1px dotted #aaa;font-family:"verdana";word-wrap:break-word;word-break:break-all;min-height:20px;z-index:1}
.ui-autocomplete .ui-autocomplete-message span{color:#b3141c}
.ui-autocomplete .ui-autocomplete-list{margin:5px 0 0 0;padding:0;overflow:hidden;z-index:1}
.ui-autocomplete .ui-autocomplete-list a{padding:1px 5px 0 5px;text-align:right;border-top:1px solid #fff;border-bottom:1px solid #fff;cursor:pointer;line-height:24px;color:#626262;display:block;text-decoration:none;height:24px;overflow-x:hidden}
.ui-autocomplete .ui-autocomplete-list a span{float:left;text-align:left}
.ui-autocomplete .ui-autocomplete-list a:hover{background:#ffe4e1;border-top:1px solid #ed8b7e;border-bottom:1px solid #ed8b7e}
.ui-autocomplete .ui-autocomplete-list a.ui-autocomplete-selected{background:#df311a;color:#fff}
.ui-autocomplete .ui-autocomplete-page{padding:0;margin:0;line-height:25px;text-align:center;min-height:22px;border-top:1px dotted #aaa;z-index:1}
.ui-autocomplete .ui-autocomplete-page span{color:#df311a}
.ui-autocomplete .ui-autocomplete-page a{color:#05a;font-family:Arial,Simsun,sans-serif;text-decoration:none;padding:0 4px 0 4px;margin:0;font-size:14px;cursor:pointer}
.ui-autocomplete .ui-autocomplete-page a:hover{text-decoration:underline}
.ui-autocomplete .ui-autocomplete-page .ui-autocomplete-arrowl,.ui-autocomplete .ui-autocomplete-page .ui-autocomplete-arrowr{color:#df311a}
.ui-autocomplete .ui-autocomplete-page a.ui-autocomplete-page-current{color:#fff;background:#df311a;text-decoration:none}

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-autocomplete-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}

/*热门商圈*/
.address_suggestionC .key_word_lhsl { width:300px; padding:8px 10px; border:2px solid #e9b099; background-color:#fff; } 
.address_suggestionC .key_word_key{display:none;height:30px;}
.address_suggestionC .key_word_lhsl .close { float:right; width:20px; height:20px; color:#666; text-align:center; font:bold 16px/20px Simsun; }
.address_suggestionC .key_word_lhsl .close:hover { text-decoration:none; color:#FFA800; }
.address_suggestionC .key_word_lhsl .key_word_list { margin-bottom:11px; border-bottom:1px dotted #ccc; }
.address_suggestionC .key_word_lhsl .key_word_list:last-child{ border:none;}
.address_suggestionC .key_word_lhsl .key_word_list dt { font-weight:bold; padding-bottom:5px; color:#b3141c; }
.address_suggestionC .key_word_lhsl .key_word_list dd { display:inline-block; padding-bottom:5px; }
.address_suggestionC .key_word_lhsl .key_word_list dd {display:block;overflow:hidden;}
.address_suggestionC .key_word_lhsl .key_word_list a { float:left; height:22px; padding:0 15px 0 5px; border:1px solid #fff; line-height:22px; white-space:nowrap; color:#333;}
.address_suggestionC .key_word_lhsl .key_word_list a:hover { background-color:#df311a; text-decoration:none; color:#fff;}
.address_suggestionC .key_word_lhsl .keyword_sub_city { margin:0 -10px -8px; padding:5px 10px; border-top:1px solid #CCC; background-color:#F3F3F3; color:#333; }
.address_suggestionC .key_word_lhsl .keyword_sub_city a { margin-right:10px; color:#4D4D4D; }
.address_suggestionC .key_word_lhsl_pad .key_word_key { display:block; }

.address_filterC .keyword_prompting_lhsl{width:300px; border:2px solid #e9b099; background-color:#fff;}
.address_filterC .keyword_prompting_lhsl .title{min-height:26px; margin:0 10px 4px; padding:0 2px; border-bottom:1px dotted #ccc; line-height:26px; color:#999;}
.address_filterC .keyword_prompting_lhsl .close{float:right; width:26px; height:26px; font:bold 14px/26px Simsun; color:#666; text-align:center;}
.address_filterC .keyword_prompting_lhsl .close:hover { text-decoration:none; color:#FFA800; }
.address_filterC .keyword_prompting_lhsl .sug_item{overflow:hidden;padding-bottom: 5px; padding-top:5px; border-bottom: 1px solid #ccc;*zoom:1;}
.address_filterC .keyword_prompting_lhsl .sug_item a{display:block; overflow:hidden; padding:5px 7px 5px 10px; color:#333;  line-height:18px; cursor:pointer;*zoom:1;}
.address_filterC .keyword_prompting_lhsl .sug_item a:hover{ background:#ffe4e1; border-top:1px solid #ed8b7e; border-bottom:1px solid #ed8b7e; padding:4px 7px 4px 10px; }
.address_filterC .keyword_prompting_lhsl .sug_item .hover { background-color:#df311a; color:#fff; text-decoration:none;}
.address_filterC .keyword_prompting_lhsl .sug_item .hover span,.address_filterC  .keyword_prompting_lhsl .sug_item .hover b{color:#fff;}
.address_filterC .keyword_prompting_lhsl .sug_item a:hover span{ color:#df311a; }
.address_filterC .notfound_pop{ padding-bottom: 4px;}
.address_filterC .keyword_prompting_lhsl .sug_item .b{font-weight:bold; color:#06c; }
.address_filterC .notfound_pop .title{ line-height:26px; overflow: hidden; margin:0 10px 4px; padding:0 2px; color: #c01111; border-bottom: 0 none;}
.address_filterC .notfound_pop .close{ margin-top: 2px;}
.address_filterC .keyword_prompting_lhsl .text_input { float:left; max-width:160px; _width:160px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }            .address_filterC .keyword_prompting_lhsl .sug_item a:after{ clear:both; content:"."; display:block; height:0; overflow:hidden; }
.address_filterC .keyword_prompting_lhsl .sug_item .num { float:left; width: 80px; overflow: hidden; color:#999; text-align: right;}
.address_filterC .keyword_prompting_lhsl .sug_item .city { display:block; float: left; width:260px; padding-right:4px; overflow:hidden; }
.address_filterC .keyword_prompting_lhsl .sug_item b{font-weight:bold; color:#06c; }
.address_filterC .keyword_prompting_lhsl .sug_category{ float:right; height:18px; line-height:18px;padding-right:20px; padding-left:0; text-align:right;}
.address_filterC .keyword_prompting_lhsl .sug_category_hover{ color: #fff; background-color: #2577e3; background-position: right 6px; background-color:#2577e3; }            .address_filterC .keyword_prompting_lhsl .item_list_city .sug_category{background-position: right -33px;}
.address_filterC .keyword_prompting_lhsl .item_list_city .hover .sug_category{background-position: right 2px;}
.address_filterC .keyword_prompting_lhsl .item_list_landmarks .sug_category{background-position: right -204px;}
.address_filterC .keyword_prompting_lhsl .item_list_landmarks .hover .sug_category{background-position: right -238px;}
.address_filterC .keyword_prompting_lhsl .item_list_traffic .sug_category{background-position: right -336px; padding-right:40px;}
.address_filterC .keyword_prompting_lhsl .item_list_traffic .hover .sug_category{background-position: right -372px;}

/*通用信息提示弹出层*/
.common-pop{ background:rgba(0,0,0,0.7); padding:50px 30px; border-radius:15px; -moz-border-radius:15px; -webkit-border-radius:15px; color:#fff; text-align:center; width:400px; }
@media \0screen\,screen\9 {/* 只支持IE6、7、8 */
	.common-pop{
		background:#000;
		filter:Alpha(opacity=70);/* 只支持IE6、7、8、9 */
		position:static; /* IE6、7、8只能设置position:static(默认属性) ，否则会导致子元素继承Alpha值 */
		*zoom:1; /* 激活IE6、7的haslayout属性，让它读懂Alpha */
	}
	
}
.common-pop p{ position:relative; color:#fff; line-height:24px; font-size:16px; }

/*评论弹出层*/
.comment-write-pop{ width:450px; padding:10px 20px;}
.comment-write-pop h4{ margin-top:14px; font:bold 12px/24px simSun; color:#383838;}
.comment-write-pop .detailed-comment h4{ margin-top:0 }
.comment-write-pop .satisfy{ margin:5px 0 20px; height:24px;  }
.comment-write-pop .satisfy li{ float:left; padding-right:12px; color:#757575;  }
.comment-write-pop .detailed-comment{ display:none; padding-bottom:25px }
.comment-write-pop .detailed-choices{ background:#f9f9f9; padding:10px 10px 0; overflow:hidden  }
.comment-write-pop .detailed-choices li{ border:1px solid #ff7c66; background:#fff0ee; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; float:left;margin:0 10px 10px 0  }
.comment-write-pop .detailed-choices li a{ display:block; padding:0 28px; color:#ff2400; line-height:27px; font-weight:bold }
.comment-write-pop .detailed-choices li.selected{ background:#ff2400; }
.comment-write-pop .detailed-choices li.selected a{ color:#fff }
.comment-write-pop textarea{width:440px; height:50px;padding:5px; color:#666;line-height:18px;}
.comment-write-pop .guize{ text-align:right; padding-top:5px; }
.comment-write-pop .guize a{ text-align:right; line-height:18px; color:#4684ca; }
.comment-write-pop .btm-btn{ text-align:center; margin:5px 0; }

/*上传照片*/
.upload-photo{ padding:10px 0 }
.upload-photo .photos-wrap{ padding-bottom:10px; overflow:hidden }
.upload-photo .photos-wrap .photo-comment{ float:left; width:70px; height:70px; padding:0 10px 10px 0 }
.upload-photo .photos-wrap .pop-img{ position:relative; display:inline-block }
.upload-photo .photos-wrap .delete-photo{ position:absolute; background:rgba(0,0,0,.3); left:0; top:0; width:70px; bottom:10px; text-align:center; padding-top:25px; display:none }
.upload-photo .add-photo-wrap{ vertical-align:bottom; text-align:left; overflow:hidden }
.upload-photo a{ display:inline }
.upload-photo .add-photo-wrap .add-photo-btn{ width:70px; height:70px; float:left; padding-right:10px }
.upload-photo .add-photo-wrap span{ padding-top:15px; color:#bfbfbf }


#imgbox-loading {
	position: absolute;
	top: 0;
	left: 0;
	background: url('imgbox-spinner.gif') center center no-repeat;
	cursor: pointer;
	display: none;
	z-index: 90;
}

#imgbox-loading div {
	background: #FFF;
	width: 100%;
	height : 100%;
}

#imgbox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	display: none;
	z-index: 80;
}

.imgbox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	background: #FFF;
	display: none;
	z-index: 90;
}

.imgbox-img {
	padding: 0;
	margin: 0;
	border: none;
	width: 100%;
	height: 100%;
	vertical-align: top;
}

.imgbox-close {
	position: absolute;
	top: -15px;
	right: -15px;
	height: 30px;
	width: 30px;
	background: url('../images/imgbox-close.png') top left no-repeat;
	cursor: pointer;
	outline: none;
}

.imgbox-title {
	padding-top: 10px;
	font-size: 11px;
	text-align: center;
	font-family: Arial;
	color: #333;
	display: none;
}

.imgbox-bg-wrap {
	position: absolute;
	padding: 0;
	margin: 0;
	display: none;
}

.imgbox-bg {
	position: absolute;
	width: 20px;
	height: 20px;
}

.imgbox-bg-n {
	left: 0;
	top: -20px;
	width: 100%;
	background: url(../images/imgbox-bg-n.png) repeat-x;
}

.imgbox-bg-ne {
	right: -20px;
	top: -20px;
	background: url(../images/imgbox-bg-ne.png) no-repeat;
}

.imgbox-bg-e {
	right: -20px;
	top: 0;
	height: 100%;
	background: url(../images/imgbox-bg-e.png) repeat-y;
}

.imgbox-bg-se {
	right: -20px;
	bottom: -20px;
	background: url(../images/imgbox-bg-se.png) no-repeat;
}

.imgbox-bg-s {
	left: 0;
	bottom: -20px;
	width: 100%;
	background: url(../images/imgbox-bg-s.png) repeat-x;
}

.imgbox-bg-sw {
	left: -20px;
	bottom: -20px;
	background: url(../images/imgbox-bg-sw.png) no-repeat;
}

.imgbox-bg-w {
	left: -20px;
	top: 0;
	height: 100%;
	background: url(../images/imgbox-bg-w.png) repeat-y;
}

.imgbox-bg-nw {
	left: -20px;
	top: -20px;
	background: url(../images/imgbox-bg-nw.png) no-repeat;
}


.submit-btn{ display:inline-block; width:180px; height:32px; background:#ff2400; color:#fff; font:bold 16px/32px microsoft Yahei; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }

/*充值弹出层*/
.pop-recharge{ border-radius:15px; -moz-border-radius:15px; -webkit-border-radius:15px; background:#fff; padding:25px 60px; display:inline-block; position:relative }
.pop-recharge .icon-close{ position:absolute; right:-6px; top:-10px; z-index:200 }
.pop-recharge p{ color:#4e4e4e; font-size:12px; line-height:24px; padding-left:30px; }
.pop-recharge .recharge-success{ background:url(../images/checkicon_check.gif) no-repeat 0 center }
.pop-recharge .recharge-fail{ background:url(../images/icon_warning.gif) no-repeat 0 center }
.pop-recharge p b{ color:#ef0a0a }

/*新店6折房型*/
.sale-6-room{ border:1px solid #ffeda7; background:url(../images/sale-new-bgline.gif) repeat-x 0 0 #fffef8; padding:8px 15px 15px; position:relative; overflow:hidden }
.sale-6-room .sale-room-pic{ width:85px; height:64px; float:left; margin-right:15px; padding-top:7px }
.sale-6-room .room-name{ padding-right:30px; overflow:hidden }
.sale-6-room .icon-sale-6{ float:left; margin:3px 0 0 0 }
.sale-6-room .room-tit{ float:left; font-size:16px; color:#000; line-height:30px; font-weight:normal; margin-right:6px } 
.sale-6-room .cheapest-return{ display:inline-block; height:16px; margin-top:7px;float:left;line-height:16px; font-size:12px; color:#fff; text-align:center; margin-left:10px; background:#FF5131; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; width:auto; padding:0 3px; font-weight:normal }
.sale-6-room .price-reserve{ position:absolute; bottom:26px; right:15px; width:220px }
.sale-6-room .price-reserve .hover-quan{ width:118px; height:30px; text-align:center; background:url(../images/hover-bg-quan.png) no-repeat 0 0; font-size:12px; line-height:24px; position:absolute;top:-35px; right:110px; color:#75735d; display:none }
.sale-6-room .price-reserve .hover-quan b{ color:#d7161e; font-weight:bold }
.sale-6-room .btn-sale-new{ background:#d7161e; color:#fff; text-align:center; font-size:16px; line-height:27px; height:27px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; width:70px; display:block; float:right  }
.sale-6-room .icon_prepay{ background:#ffe2cf; color:#d7161e; padding:3px 4px; vertical-align: baseline; float:right; margin-top:5px}
.sale-6-room .last-room{ float:right; width:60px; text-align:center; padding:8px 0 0; color:#d7161e; font-size:12px }
.sale-6-room .price{ border-bottom:1px dashed #565656; padding-bottom:4px }
.sale-6-room .price b{ font-size:24px; color:#d7161e; }
.sale-6-room .sale-no-room .btn-sale-new{ background:#cecece }
.sale-6-room .sale-no-room .price{ text-decoration:line-through; color:#aaa }
.sale-6-room .sale-no-room .price b{ color:#aaa; font-weight:normal }

.room-features-ul{ color:#aaa; overflow:hidden; width:328px; padding-top:5px }
.room-features-ul li{ float:left; width:164px; line-height:17px; font-size:12px  }

.pop-confirm{ background:#fff; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; padding:60px 70px; position:relative; width:275px }
.pop-confirm .icon-close{ position:absolute; right:12px; top:12px }
.pop-confirm .txt{ font-size:16px; color:#000 }
.pop-confirm .btn-wrap{ padding-top:34px }
.pop-confirm .btn-wrap .btn{ width:130px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; height:42px; line-height:42px; color:#fff; display:block; text-align:center; font-size:16px; float:left; cursor:pointer }
.pop-confirm .btn-wrap .btn-gold{ background:#d7a622 }
.pop-confirm .btn-wrap .btn-grey{ background:#bbb; float:right }


.video-pop {
    width: 800px;
    height: 400px;
    background: #000
}