.mt50 {
	margin-top: 50px;
}
.text-orange{
	color:#ff4800;
}
.fp-title{
	font:bold 18px/26px "microsoft Yahei";
	color:#514b4b;
	margin-bottom:18px;
}
.fpassCtnWrap{
	background:#fafafa;
	border:1px solid #e1e1e1;
	padding:31px 0 65px 113px;
}
ul.fsteps{
	height:90px;
}
ul.fsteps li{
	display:block;
	float:left;
	width:175px;
	height:26px;
	text-align:center;
}
ul.fsteps li.first{
	background:url(../images/pasbck_step1_off.gif) no-repeat 0 0 ;
}
ul.fsteps li.fcurrent{
	background:url(../images/pasbck_step1_on.gif) no-repeat 0 0 ;
}
ul.fsteps li.center{
	background:url(../images/pasbck_step2_off.gif) no-repeat 0 0 ;
}
ul.fsteps li.ccurrent{
	background:url(../images/pasbck_step2_on.gif) no-repeat 0 0 ;
}
ul.fsteps li.end{
	background:url(../images/pasbck_step4_off.gif) no-repeat 0 0 ;
}
ul.fsteps li.ecurrent{
	background:url(../images/pasbck_step4_on.gif) no-repeat 0 0 ;
}
ul.fsteps li span{
	width:auto;
}
ul.fsteps .fcurrent em, ul.fsteps .ccurrent em, ul.fsteps .ecurrent em{
	color:#ff4800;
}
ul.fsteps li i{
	display:block;
	color:#fff;
	font-style:normal;
	font:14px/24px "Verdana","Arial";
	margin-bottom:18px;
}
ul.fsteps li em{
	color:#adadad;
	font:12px/20px "simsun";
}
.formWrap{
	padding-left:228px;
	margin-top:22px;
}
.formWrap .fwSpan{
	margin-left:-110px;
	padding:0 0 14px 0;
	height:31px;
}
.formWrap .fwSpan2{
	padding-bottom:38px;
	height:31px;
}
.formWrap .fwSpan3{
	padding-bottom:22px;
	margin-top:-10px;
}
.formWrap .fw-clause{ width:230px; text-align:center; padding:10px 0 25px; line-height:20px; color:#666 }
.formWrap .fw-clause a{color:#3867bb;}
.formWrap .fwSpan label.tit{
	width:90px;
	float:left;
	display:inline;
	text-align:right;
	padding-right:20px;
	line-height:31px;
	color:#7a7a7a;
}
.formWrap .fwSpan label.tit .star{ color:#ee0000; font-weight:bold; padding-right:5px; }
.formWrap .fwSpan .i_text_f{
	float:left;
	height:29px;
	border:1px solid #cfcfcf;
	padding-left:8px;
	font:12px/29px "Verdana";
	color:#383838;
	width:190px;
}
.formWrap .fwSpan .i_text_red{
	border:1px solid #ee0000;
	background:#fff8f8;
	color:#db0b20
}
.formWrap .img-vertif{
	float:left;
	margin:0 10px;
}
.formWrap .a-vertif {
    float: left;
    line-height: 31px;
    color: #3377dd;
}
.formWrap .fwSpan .checkicon{
	float:left;
	padding:3px 0 0 13px;
}
.formWrap .fwSpan .checkTip{
	float:left;
	color:#db0b20;
	line-height:31px;
	padding-left:8px;
}
.formWrap .fwSpan .checkTip2{ line-height:15px; color:#666; }
.formWrap .fp-btn{
	background:#ff2400;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:none;
	width:200px;
	height:36px;
	color:#fff;
	font-size:14px;
	cursor:pointer;
	display:block;
	line-height:36px;
	text-align:center;
}
.formWrap .fp-btn2{
	width:108px;
	height:22px;
	line-height:22px;
	font-size:12px;
}
.formWrap .fp-btn-Yahei{
	font-family:"microsoft Yahei";
	font-weight:bold;
	font-size:16px;
}
.formWrap .fwSpan .phoneNum{
	font:bold 14px/31px "Verdana";
	color:#645955;
}
.formWrap .fwSpan .phoneTip{
	color:#325faa;
	padding-left:24px;
}
.fp-emailWrap{
	width:700px;
	text-align:center;
	color:#7a7a7a;
	padding-top:45px;
	padding-bottom:20px;
}
.fp-sucess {
	margin-left:-12px;
	height:85px;
}
.fp-sucess img{
	float:left;
}
.fp-sucess span{
	float:left;
	color:#b77a11;
	font:18px/35px "microsoft Yahei";
	padding-left:20px;
}



