{% extends 'app/yudingindex.html' %}
{% block contents %}
<!--登录框弹出层-->
<div style="z-index: 19999; position: fixed; top: 45px; left: 50.5px;">
    <div class="box-login" id="pop-login" style="display: none;">
        <div class="close">
            <a href="javascript:void(0)" id="closelogin" onclick="closeWindow(&#39;pop-login&#39;)">
                <img src="../../static/images/close-icon.gif">
            </a>
        </div>
        <div class="title-barlogin title-bar-pop">
            <h2 class="tab-person current" id="checkchengeindexlogin"><em>个人</em>登录</h2>
           {% comment %} <h2 class="tab-company" id="checkchengeindexlogincompany"><em>企业</em>登录</h2>{% endcomment %}
        </div>

        <div class="login-tab-content login-tab-content-pop">
            <div class="tab-person">
                <form action="http://www.super8.com.cn/MemInfo/IndexLogin" id="IndexLogin" method="post">
                    <div id="Indexloginerror">

                    </div>
                    <div class="form-group form-group-name">
                        <label class="ui-placeholder" for="input-name" node_type="key">
                            <span class="placeholder-text" style="display: none;">手机号码</span>
                            <input name="LoginName" type="text" value="" placeholder="手机号码">
                        </label>
                        <input id="RefUrl" name="RefUrl" type="hidden" value="">
                    </div>
                    <div class="form-group form-group-password">
                        <label class="ui-placeholder" for="input-pw" node_type="key">
                            <span class="placeholder-text" style="display: none;">密码</span>
                            <input name="PassWd" type="password" placeholder="密码">
                        </label>
                    </div>
                    <div class="form-imgcode form-group-imgcode">
                        <input node_type="input" name="ImgCode" type="text" autocomplete="off" placeholder="验证码">
                        <img id="sp_imag_HM" src="../../static/images/NewValidateCodeImageType"
                             onclick="IndexNewValidateCode(&#39;s8LGHeaderMem&#39;,&#39;sp_imag_HM&#39;)"
                             style="width:70px">
                        <a class="a-vertif" href="javascript:void(0)" style="color: blue;"
                           onclick="IndexNewValidateCode(&#39;s8LGHeaderMem&#39;,&#39;sp_imag_HM&#39;)">看不清?</a>
                    </div>
                    <div class="item item-remember">
                        <a class="link-forgot fr" href="{% url 'app:findcode' %}">忘记密码</a>
                        <label for="input-remember">
                            <input name="RememberMe" type="checkbox" value="true"><input name="RememberMe" type="hidden"
                                                                                         value="false">
                            30天内自动登录</label>
                    </div>
                    <div class="item">
                        <a href="javascript:void(0)" id="btn3" class="btn"></a>
                    </div>
                    <a class="btn btn-nMem" href="http://www.super8.com.cn/Hotel/List#"
                       onclick="closeWindow(&#39;pop-login&#39;);"><em>非会员直接预订</em></a>
                    <dl class="item item-third">
                        {% comment %} <dt><a id="tandregister" href="javascript:void(0)">立即66注册</a></dt>{% endcomment %}
                        <dt><a id="tandregister" href="{% url 'app:registerym' %}">立即66注册</a></dt>
                    </dl>
                </form>
            </div>
            <div class="tab-company" style="display: none">
                <form action="http://www.super8.com.cn/Company/IndexCompanyLogin" id="IndexCompanyLogin" method="post">
                    <div id="Indexcompanyloginerror">

                    </div>
                    <div class="form-group form-group-name">
                        <label class="ui-placeholder" for="input-name" node_type="key">
                            <span class="placeholder-text" style="display: none;">企业用户名</span>
                            <input name="LoginName" type="text" value="" placeholder="企业用户名">
                        </label>
                    </div>
                    <div class="form-group form-group-password">
                        <label class="ui-placeholder" for="input-pw" node_type="key">
                            <span class="placeholder-text" style="display: none;">密码</span>
                            <input name="PassWd" type="password" placeholder="密码">
                        </label>
                    </div>
                    <div class="form-imgcode form-group-imgcode">
                        <input node_type="input" name="ImgCode" type="text" autocomplete="off" placeholder="验证码">
                        <img id="sp_imag_com_HM" src="../../static/images/NewValidateCodeImageType(1)"
                             onclick="IndexNewValidateCode(&#39;s8LGHeaderCom&#39;,&#39;sp_imag_com_HM&#39;)"
                             style="width:70px">
                        <a class="a-vertif" href="javascript:void(0)" style="color: blue;"
                           onclick="IndexNewValidateCode(&#39;s8LGHeaderCom&#39;,&#39;sp_imag_com_HM&#39;)">看不清?</a>
                    </div>
                    <div class="item item-remember">
                        <a class="link-forgot fr" href="http://www.super8.com.cn/Forgotpwd/Forgotpwd1">忘记密码</a>
                        <label for="input-remember">
                            <input name="RememberMe" type="checkbox" value="true"><input name="RememberMe" type="hidden"
                                                                                         value="false">
                            30天内自动登录</label>
                    </div>
                    <div class="item">
                        <a href="javascript:void(0)" id="btn4" class="btn"></a>
                    </div>
                    <a class="btn btn-nMem" href="http://www.super8.com.cn/Hotel/List"><em>非会员直接预订</em></a>
                    <dl class="item item-third">
                        <dt><a href="http://www.super8.com.cn/Register/RegisterCompany">立即注册企业会员</a></dt>
                    </dl>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}