{% extends 'app/yudingindex.html' %}
{% block title %}
<title>BookInfo</title>

{% endblock title %}

{% block contents %}
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
        <link type="text/css" rel="stylesheet" href="/static/css/yudingindex.css">

<script src="/static/js/HeardInfo.js"></script>
<script src="/static/js/popup.js"></script>
<link href="/static/css/hotel-reserve.css" rel="stylesheet" />
<link href="/static/css/v-user.css" rel="stylesheet" />
<script type="text/javascript">
    window.history.forward(1);
</script>
<input  type="hidden" id="hidmemflag" value="1" />
<div class="grid wrapper clearfix">
    <div class="crumbs">
        <div class="crumbs-reserve-step">
            <ul class="step-1">
                <li><i>1</i>选择酒店</li>
                <li class="current"><i>2</i>预订填写</li>
                <li class="last"><i>3</i>预订完成</li>
            </ul>
        </div>
        您当前的位置：<a href="/Home/Index">速8首页</a><em class="sep">&gt;</em><a href="/Hotel/List?citycode=110100&stime=2019-09-21&etime=2019-09-22&keycode=">北京市酒店</a><em class="sep">&gt;</em><span class="last"><a href="/Hotel/Detail/4172">速8酒店北京房山城关中医院店（内宾）</a></span>
    </div>
</div>
<div class="grid wrapper clearfix content" id="node_container">
    <div class="g1">
        <div class="hotel-subject">
            <h3><a href="/Hotel/Detail/4172" id="a_HotelName">速88酒店北京宝盛北里店</a></h3>
            <p class="desc" id="p_Address">北京市速88酒店北京宝盛北里店_刘氏集团</p>
            <p class="img">
                <img src="http://admin.super8.com.cn/hotelimage/480_360/4172/20190408141127517.jpg" alt="" />
            </p>
            <p class="attr">
                <b>房型：</b><label id="lbl_RoomName">{{ roomstyle.desc }}</label><br />
                <b>房型说明：</b>{{roomstyle.size}}平米<br />
                <b>窗户：</b>外窗<br />
                <b>宽带：</b>免费<br />
                    <b>特殊说明：</b>无烟房            </p>
            <div class="tip-list">
                温馨提示：<br />
                如有任何疑问，请随时联系速8酒店24小时预订热线：0540-999888
            </div>
        </div>
    </div>
<form action="{% url 'app:makeorder' roomstyle.id %}" id="GuaFrom" method="post">
{% csrf_token %}
    <div class="g2" id="grid-g2">
            <div class="shadow"></div>
            <div class="section" id="section-info">
                <div class="title-bar">
                    <h3>预订信息</h3>
                </div>
                <div class="form">
                    <div class="form-group">
                        <label class="col-name" id="lbl_days" data-rmDays="1" data-Days="1">入住时段：</label>
                        <div class="col-item">
                            <span class="labl" data-id="sdate"><input class="labl" type="date" value="2019-09-23"  name="ruzhu"></span> 入住 &nbsp;&nbsp;
                        <span class="labl" data-id="edate"><input class="labl" type="date" value="2019-09-24" name="lidian"></span> 退房 &nbsp;&nbsp;
						<a href="" class="btn-red btn-s"><em>更改入住时间</em></a>
                        </div>
                    </div>
                    <input class="text w2" id="HotelId" name="HotelId" style="display:none;" type="text" value="4172" />
                    <input class="text w2" id="RoomId" name="RoomId" style="display:none;" type="text" value="28790" />
                    <input class="text w2" id="StartDate" name="StartDate" style="display:none;" type="text" value="2019-09-21" />
                    <input class="text w2" id="EndDate" name="EndDate" style="display:none;" type="text" value="2019-09-22" />
                    <div class="form-group">

                        <label class="col-name"><em class="red">*</em>&nbsp;入住人：</label>
                        <div class="col-item">
                            <input class="text w2" data-check="Null;ChcOrLetter;" data-id="checktxt" id="GstsName" name="GstsName" type="text" value="刘荣帅" />
                            <span class="tip">请填写身份证上的姓名</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-name">房间数量：</label>

                        <select style="width: 65px;height: 26px" name="order_room_num">
                            {% for i in roomcountlist %}
                          <option name="order_room_num" value ="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>

                    </div>
                    <div class="form-group">
                        <label class="col-name">房间单价：</label>
                        <div class="col-item">
                            <input type="hidden" value="160" data-id="totalprice"/>
                            <input type="hidden" value="160" data-id="price"/>
                            <input type="hidden" value="0" data-id="amminusprice"/>
                            <div><b class="red f18">￥<span data-id="totalprice_span">
                            {% if request.user.usertype == 1 %}
                                {{ roomstyle.huiyuanprice }}
                            {% else %}
                                {{ roomstyle.webprice }}
                            {% endif %}
                            元</span></b>  </div>

                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-name">最晚到店时间：</label>
                        <select style="width: 65px;height: 26px" name="last_time">
                             <option name="last_time" value ="18:00">18:00</option>
                          <option name="last_time" value ="6:00">6:00</option>
                          <option name="last_time" value ="8:00">8:00</option>
                          <option name="last_time" value="10:00">10:00</option>
                            <option name="last_time" value ="12:00">12:00</option>
                          <option name="last_time" value ="14:00">14:00</option>
                          <option name="last_time" value="16:00">16:00</option>
                            <option name="last_time" value ="18:00">18:00</option>
                          <option name="last_time" value ="20:00">20:00</option>
                          <option  name="last_time" value="22:00">22:00</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="title-bar">
                    <h3>联系方式</h3>
                </div>
                <div class="form">
                    <div class="form-group">
                        <label class="col-name"><em class="red">*</em> 联系电话：</label>
                        <div class="col-item">
                    <input Value="18725882067" class="text w2" data-check="Null;Phone;"
                           data-id="checktxt" id="ContactMobile" name="ContactMobile" type="text" value="" />
                        </div>
                    </div>

                </div>
            </div>


            <div class="section">
                <div class="title-bar">
                    <h3>付款方式</h3>
                </div>
                <input class="text w2" id="PayType" name="PayType" style="display:none;" type="text" value="1" />
                <div style="margin-top: 15px; margin-left: 30px;" data-id="tipnew">
                    <p class="tip">在线预付——房间保留到入住日第二天中午12:00。</p>
                    <div class="pay-warning">退订政策：预付订单确认后，入住日期前一天18:00前可免费取消，若未按时入住，将扣除全额或首晚房费。</div>
                </div>
                <div class="blank-20"></div>

                <div class="submit-wrap">

                    <div class="pay-button">

                        <p>应付金额 <em class="red">￥<span data-id="payable">
                            {% if request.user.usertype == 1 %}
                                {{ roomstyle.huiyuanprice }}
                            {% else %}
                                {{ roomstyle.webprice }}
                            {% endif %}

                        </span></em></p>

                        <p>
                            <em><input type="submit"  value="提交订单" style="background-color: #A90000;width: 130px;height: 40px;font-size: 20px;color: #FFFFFF"></em></p>

                    </div>
                </div>

            </div>
        </div>
</form>
</div>


{% endblock  %}

{% block contentlogin %}

  <div class="box-login" id="pop-login" style="top: 98px; left: 497px; position: absolute; z-index: 19999;">
        <div class="close">
            <a href="javascript:void(0)" id="closelogin" onclick="closeWindow('pop-login')">
                <img src="../../static/images/close-icon.gif">
            </a>
        </div>
        <div class="title-barlogin title-bar-pop">
            <h2 class="tab-person current" id="checkchengeindexlogin"><em>个人</em>登录</h2>

        </div>

        <div class="login-tab-content login-tab-content-pop">
            <div class="tab-person">
                <form action="http://www.super8.com.cn/MemInfo/IndexLogin" id="IndexLogin" method="post">
                    <div id="Indexloginerror">

                    </div>
                    <div class="form-group form-group-name">
                        <label class="ui-placeholder" for="input-name" node_type="key">
                            <span class="placeholder-text" style="display: none;">手机号码</span>
                            <input name="LoginName" type="text" value="" placeholder="手机号码">
                        </label>
                        <input id="RefUrl" name="RefUrl" type="hidden" value="http://127.0.0.1:8000/">
                    </div>
                    <div class="form-group form-group-password">
                        <label class="ui-placeholder" for="input-pw" node_type="key">
                            <span class="placeholder-text" style="display: none;">密码</span>
                            <input name="PassWd" type="password" placeholder="密码">
                        </label>
                    </div>
                    <div class="form-imgcode form-group-imgcode">
                        <input node_type="input" name="ImgCode" type="text" autocomplete="off" placeholder="验证码">
                        <img id="sp_imag_HM" src="../../static/images/NewValidateCodeImageType" onclick="IndexNewValidateCode('s8LGHeaderMem','sp_imag_HM')" style="width:70px">
                        <a class="a-vertif" href="javascript:void(0)" style="color: blue;" onclick="IndexNewValidateCode('s8LGHeaderMem','sp_imag_HM')">看不清?</a>
                    </div>


                    <div class="item item-remember">
                        <a class="link-forgot fr" href="/findcode/">忘记密码</a>
                        <label for="input-remember">
                            <input name="RememberMe" type="checkbox" value="true"><input name="RememberMe" type="hidden" value="false">
                            30天内自动登录</label>
                    </div>
                    <div class="item">
                        <a href="javascript:void(0)" id="btn3" class="btn"></a>
                    </div>
                    <a class="btn btn-nMem" href="http://www.super8.com.cn/Hotel/List#" onclick="closeWindow('pop-login');"><em>非会员直接预订</em></a>
                    <dl class="item item-third">

                        <dt><a id="tandregister" href="/registerym">立即66注册</a></dt>
                    </dl>
                </form>
            </div>
            <div class="tab-company" style="display: none">
                <form action="http://www.super8.com.cn/Company/IndexCompanyLogin" id="IndexCompanyLogin" method="post">
                    <div id="Indexcompanyloginerror">

                    </div>
                    <div class="form-group form-group-name">
                        <label class="ui-placeholder" for="input-name" node_type="key">
                            <span class="placeholder-text" style="display: none;">企业用户名</span>
                            <input name="LoginName" type="text" value="" placeholder="企业用户名">
                        </label>
                    </div>
                    <div class="form-group form-group-password">
                        <label class="ui-placeholder" for="input-pw" node_type="key">
                            <span class="placeholder-text" style="display: none;">密码</span>
                            <input name="PassWd" type="password" placeholder="密码">
                        </label>
                    </div>
                    <div class="form-imgcode form-group-imgcode">
                        <input node_type="input" name="ImgCode" type="text" autocomplete="off" placeholder="验证码">
                        <img id="sp_imag_com_HM" src="../../static/images/NewValidateCodeImageType(1)" onclick="IndexNewValidateCode('s8LGHeaderCom','sp_imag_com_HM')" style="width:70px">
                        <a class="a-vertif" href="javascript:void(0)" style="color: blue;" onclick="IndexNewValidateCode('s8LGHeaderCom','sp_imag_com_HM')">看不清?</a>
                    </div>
                    <div class="item item-remember">
                        <a class="link-forgot fr" href="http://www.super8.com.cn/Forgotpwd/Forgotpwd1">忘记密码</a>
                        <label for="input-remember">
                            <input name="RememberMe" type="checkbox" value="true"><input name="RememberMe" type="hidden" value="false">
                            30天内自动登录</label>
                    </div>
                    <div class="item">
                        <a href="javascript:void(0)" id="btn4" class="btn"></a>
                    </div>
                    <a class="btn btn-nMem" href="http://www.super8.com.cn/Hotel/List"><em>非会员直接预订</em></a>
                    <dl class="item item-third">
                        <dt><a href="http://www.super8.com.cn/Register/RegisterCompany">立即注册企业会员</a></dt>
                    </dl>
                </form>
            </div>
        </div>

    </div>
{% endblock %}