{% extends 'app/yudingindex.html' %}
{% block contents %}
    <!--提示层2秒消失-->

<script src="/static/js/HeardInfo.js"></script>
<script src="/static/js/popup.js"></script>
<link href="/static/css/hotel-reserve.css" rel="stylesheet" />
<link href="/static/css/v-user.css" rel="stylesheet" />
<script type="text/javascript">
    window.history.forward(1);
</script>
<div class="popup confirm-pop" id="confirm-pop" style="">
    <div class="close">
        <a href="" onclick="closeWindow('confirm-pop');">
            <img src="/static/images/close-icon.gif" /></a>
    </div>
    <div class="titleBar">
        <h3>订单确认</h3>
    </div>
    <dl class="item-confirm">
        <dt>酒店：</dt>
        <dd>速88酒店北京宝盛北里店</dd>
    </dl>
    <dl class="item-confirm">
        <dt>房型：</dt>
        <dd>{{ order.room_set.desc }}</dd>
    </dl>
    <dl class="item-confirm">
        <dt>入住时段：</dt>
        <dd><em>2019-09-18</em>&nbsp;至&nbsp;<em>2019-09-19</em></dd>
    </dl>
    <dl class="item-confirm">
        <dt>入住人：</dt>
        <dd data-id="GstsName">{{ order.username }}</dd>
    </dl>
    <dl class="item-confirm">
        <dt>房间数量：</dt>
        <dd data-id="roomnumdd">{{ order.order_room_num }}间</dd>
    </dl>


    <dl class="item-confirm">
        <dt>应付金额：</dt>
        <dd><em class="money" data-id="pay">{{ order.price }} 元</em></dd>
    </dl>
    <dl class="item-confirm">
        <dt>付款方式：</dt>
        <dd data-id="paytypetxt">在线预付</dd>
    </dl>
    <dl class="item-confirm">
        <dt>预订保留时间：</dt>
        <dd><span>12</span>:00至<span data-id="rmetime">18</span>:00</dd>
    </dl>
    <dl class="item-confirm">
        <dt>联系人：</dt>
        <dd data-id="ContactName">{{ order.username }}</dd>
    </dl>
    <dl class="item-confirm">
        <dt>联系电话：</dt>
        <dd data-id="ContactMobile">{{ order.phone }}</dd>
    </dl>
    <div class="bottom-btns">
        <a href="" class="btns btn-light">返回</a>
        <a href="https://www.baidu.com" class="btns btn-orange"  data-id="submit" id="tj">确定</a>
    </div>
</div
<div class="info fixed mt10">
                            <p class="fl weight">总量：<em>233g</em>净重：<em>80g</em>箱重：<em>153g</em></p>
                            <p class="fr total2">
							<span id="total_goods_price">
								获得积分：<em>4</em>总计（不含运费）：<span class="price3"><b>￥</b>4.50</span>
							</span>
                                <a onclick="order();">提交订单</a>
                            </p>
                            <script>

                                function order() {
                                    total = $(".price3").text().substring(1)
                                    $.post("http://127.0.0.1:8000/pay/",{'gname':'零食','total':total},function (data) {
                                       console.log(data)
                                        window.location.href = data
                                    })
                                }
                            </script>
                        </div>
{% endblock %}