{% extends 'app/yudingindex.html' %}
{% load static %}

{% block contents %}

    <div class="g2">
        <div class="subject-img">
            <div class="img-big" id="slider-img-big">

                <a><img src="../../static/images/20180209183209354.jpg" alt="速8精选酒店"></a>
                <a onclick="popupMemberSupperVidel('video-pop',this)" href="javascript:void(0)"><img alt=""
                                                                                                     src="hoteldetail_files/bg_white.jpg"
                                                                                                     style="display:none"></a>

            </div>
            <div id="slidecontianer">
                <div class="img-list" id="slider-img-list"><a class="arrow arrow-left arrow-left-disable"
                                                              href="javascript:void(0)" data-id="left"></a><a
                        class="arrow arrow-right" href="javascript:void(0);" data-id="right"></a>
                    <div class="img-list-wrapper">
                        <ul class="img-list-content" data-id="groups">
                            <li class="item-group" data-id="group">
                                <ul>
                                    <li class=""><a href="javascript:void(0);"><img
                                            src="../../static/images/20180209183209354.jpg" alt="速8精选酒店"
                                            data-pic="http://admin.super8.com.cn/hotelimage/480_360/4054/20180209183209354.jpg"
                                            data-videourl="" data-picturetypeid="1"></a></li>
                                    <li><a href="javascript:void(0);"><img
                                            src="../../static/images/20180209183209567.jpg" alt="速8精选酒店"
                                            data-pic="http://admin.super8.com.cn/hotelimage/480_360/4054/20180209183209567.jpg"
                                            data-videourl="" data-picturetypeid="9"></a></li>
                                    <li><a href="javascript:void(0);"><img
                                            src="../../static/images/20180209183309852.jpg" alt="速8精选酒店"
                                            data-pic="http://admin.super8.com.cn/hotelimage/480_360/4054/20180209183309852.jpg"
                                            data-videourl="" data-picturetypeid="9"></a></li>
                                    <li><a href="javascript:void(0);"><img
                                            src="../../static/images/20180209183310056.jpg" alt="速8精选酒店"
                                            data-pic="http://admin.super8.com.cn/hotelimage/480_360/4054/20180209183310056.jpg"
                                            data-videourl="" data-picturetypeid="9"></a></li>
                                    <li><a href="javascript:void(0);"><img
                                            src="../../static/images/20180209183310256.jpg" alt="速8精选酒店"
                                            data-pic="http://admin.super8.com.cn/hotelimage/480_360/4054/20180209183310256.jpg"
                                            data-videourl="" data-picturetypeid="3"></a></li>
                                    <li><a href="javascript:void(0);"><img
                                            src="../../static/images/20180209183310435.jpg" alt="速8精选酒店"
                                            data-pic="http://admin.super8.com.cn/hotelimage/480_360/4054/20180209183310435.jpg"
                                            data-videourl="" data-picturetypeid="3"></a></li>
                                    <li class="current"><a href="javascript:void(0);"><img
                                            src="../../static/images/20180209183410647.jpg" alt="速8精选酒店"
                                            data-pic="http://admin.super8.com.cn/hotelimage/480_360/4054/20180209183410647.jpg"
                                            data-videourl="" data-picturetypeid="3"></a></li>
                                    <li><a href="javascript:void(0);"><img
                                            src="../../static/images/20180209183410816.jpg" alt="速8精选酒店"
                                            data-pic="http://admin.super8.com.cn/hotelimage/480_360/4054/20180209183410816.jpg"
                                            data-videourl="" data-picturetypeid="3"></a></li>
                                    <li><a href="javascript:void(0);"><img
                                            src="../../static/images/20180209183411016.jpg" alt="速8精选酒店"
                                            data-pic="http://admin.super8.com.cn/hotelimage/480_360/4054/20180209183411016.jpg"
                                            data-videourl="" data-picturetypeid="3"></a></li>
                                </ul>
                            </li>
                            <li class="item-group" data-id="group">
                                <ul>
                                    <li><a href="javascript:void(0);"><img
                                            src="../../static/images/20180209183511241.jpg" alt="速8精选酒店"
                                            data-pic="http://admin.super8.com.cn/hotelimage/480_360/4054/20180209183511241.jpg"
                                            data-videourl="" data-picturetypeid="3"></a></li>
                                    <li><a href="javascript:void(0);"><img
                                            src="../../static/images/20180209183511492.jpg" alt="速8精选酒店"
                                            data-pic="http://admin.super8.com.cn/hotelimage/480_360/4054/20180209183511492.jpg"
                                            data-videourl="" data-picturetypeid="3"></a></li>
                                    <li><a href="javascript:void(0);"><img
                                            src="../../static/images/20180209183511847.jpg" alt="速8精选酒店"
                                            data-pic="http://admin.super8.com.cn/hotelimage/480_360/4054/20180209183511847.jpg"
                                            data-videourl="" data-picturetypeid="3"></a></li>
                                    <li><a href="javascript:void(0);"><img
                                            src="../../static/images/20180209183612202.jpg" alt="速8精选酒店"
                                            data-pic="http://admin.super8.com.cn/hotelimage/480_360/4054/20180209183612202.jpg"
                                            data-videourl="" data-picturetypeid="10"></a></li>
                                    <li><a href="javascript:void(0);"><img
                                            src="../../static/images/20180209183612578.jpg" alt="速8精选酒店"
                                            data-pic="http://admin.super8.com.cn/hotelimage/480_360/4054/20180209183612578.jpg"
                                            data-videourl="" data-picturetypeid="10"></a></li>
                                    <li><a href="javascript:void(0);"><img
                                            src="../../static/images/20180209183612848.jpg" alt="速8精选酒店"
                                            data-pic="http://admin.super8.com.cn/hotelimage/480_360/4054/20180209183612848.jpg"
                                            data-videourl="" data-picturetypeid="10"></a></li>
                                    <li><a href="javascript:void(0);"><img
                                            src="../../static/images/20180209183713581.jpg" alt="速8精选酒店"
                                            data-pic="http://admin.super8.com.cn/hotelimage/480_360/4054/20180209183713581.jpg"
                                            data-videourl="" data-picturetypeid="11"></a></li>
                                    <li><a href="javascript:void(0);"><img
                                            src="../../static/images/20180209183713229.jpg" alt="速8精选酒店"
                                            data-pic="http://admin.super8.com.cn/hotelimage/480_360/4054/20180209183713229.jpg"
                                            data-videourl="" data-picturetypeid="29"></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <a id="fangjia"></a>
        <div class="title-bar-group-wrapper mt20" id="hotel-title-bar">
            <div class="title-bar-group ">
                <ul data-id="refdetail">
                    <li class=""><a href="#fangjia" rel="#hotel-price">房价</a></li>
                    <li class="current"><a href="#hotel_detail" rel="#hotel-detail">酒店信息</a></li>
                    <li><a href="#pingjia" rel="#hotel-commentTop">住客评价 <small>（累计评价<span data-id="commcount">12</span>条）</small></a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="hotel-price">

            <div class="table-hotel-price mt15" data-tag="groups">
                <ul class="row-head">
                    <li class="col-1">&nbsp;</li>
                    <li class="col-2">门店价</li>
                    <li class="col-3">官网价</li>
                    <li class="col-4" data-id="memtitle">网络会员价</li>
                    <li class="col-5">&nbsp;</li>
                    <li class="col-6">&nbsp;</li>
                </ul>
                <div data-id="loadgroups" style="text-align: center; display: none;">
                    <img src="hoteldetail_files/list_loading.gif">
                </div>
                <div data-bind="container" style="">
                    <!--[CDATA[-->
                    <div data-bind="repeter" style="">
                        <!--]]〉-->
                        <input type="hidden" value="308" data-id="hidprice">
                        <div data-bind="repeter1" style="">
                            <!--]]〉-->
                            {% for roomstyle in roomstyles %}
                                {% if roomstyle.num == 0 %}

                                    <input type="hidden" value="436" data-id="hidprice">
                                    <div class="group group-full" data-id="27294">
                                        <input type="hidden" value="27294" data-bind="roomid">
                                        <ul class="row-base">
                                            <li class="col-1">
                                                <a class="icon-pic" href="javascript:void(0)"
                                                   onclick="HotelDetail.IconCick.call(this);">{{ roomstyle.desc }}</a>
                                                <span class="cheapest te" data-id="ajaxnone"
                                                      style="display: none;">团</span>
                                                <span class="cheapest quanr" data-id="ajaxblock" data-account="0"
                                                      data-voucher="0">券</span>

                                                <span class="cheapest te" data-id="ajaxblock" title="客房团购">团</span>
                                                <span class="cheapest return">速8精选</span>
                                                <em class="cheapest li" data-id="ajaxnone" data-li="null"
                                                    style="display: none;">促</em>
                                            </li>
                                            <li class="col-2">
                                                <del><span style="padding-top: 9px;"
                                                           data-id="jg">￥{{ roomstyle.dorprice }}</span></del>
                                            </li>
                                            <li class="col-3"><span style="padding-top: 9px;"
                                                                    data-id="jg">￥{{ roomstyle.webprice }}</span></li>
                                            <li class="col-4"><span class="memberprice memberpriceHover"
                                                                    style="padding-top: 6px;"
                                                                    data-web="505" data-ep="505" data-vip="468"
                                                                    data-gold="449"
                                                                    data-super="436" data-account="0" data-voucher="0"
                                                                    data-id="jg">
                                                    ￥<em data-id="kyj">{{ roomstyle.huiyuanprice }}</em><i>起</i></span>
                                            </li>
                                            <li class="col-5">
                                                    <span data-tag="curnum" class="red" style="padding-top: 9px;">

                                                        满房
                                                    </span>
                                            </li>
                                            <li class="col-6">
                                                <span class="btn-s btn-red btn-group-full" style="margin: 6px 0;"
                                                      data-web="505" data-id="ckyd" onclick=""><a
                                                        href="javascript:void(0);" data-id="yd"><em>满房</em></a></span>

                                            </li>
                                        </ul>
                                        <div class="price_box hidden">
                                            <ul class="price_ul" data-id="ajaxnone" style="display: none;">
                                                <li class="col-1a">
                                                    <span class="cheapest te">团</span>
                                                    <span class="cheapest return">返券2元</span>
                                                    <span style="padding-top: 9px;">团购价</span>
                                                </li>
                                                <li class="col-2">
                                                    <del><span style="padding-top: 9px;"></span></del>
                                                </li>
                                                <li class="col-3"><span style="padding-top: 9px;"></span></li>
                                                <li class="col-4"><span class="memberprice memberpriceTe"
                                                                        style="padding-top: 6px;" data-account="0"
                                                                        data-id="jg">￥<em>0</em></span></li>
                                                <li class="col-5"><span class="red" style="padding-top: 9px;"></span>
                                                </li>
                                                <li class="col-6a">

                                                    <span class="btn-s btn-red btn-group-full" style="margin: 6px 0;"><a
                                                            href="javascript:void(0);"><em>满房</em></a></span><span
                                                        class="icon_prepay">预付</span>
                                                </li>
                                            </ul>
                                            <ul class="price_ul">
                                                <li class="col-1a">
                                                    <span class="cheapest quanr" data-id="ajaxblock" data-account="0"
                                                          data-voucher="0">券</span>
                                                    <span style="padding-top: 9px;">会员价(无早）</span>
                                                </li>
                                                <li class="col-2">
                                                    <del><span style="padding-top: 9px;" data-id="jg">￥568</span></del>
                                                </li>
                                                <li class="col-3"><span style="padding-top: 9px;"
                                                                        data-id="jg">￥532</span></li>
                                                <li class="col-4"><span class="memberprice memberpriceHover"
                                                                        style="padding-top: 6px;" data-web="505"
                                                                        data-ep="505" data-vip="468" data-gold="449"
                                                                        data-super="436" data-account="0"
                                                                        data-voucher="0"
                                                                        data-id="jg">￥<em>436</em><i>起</i></span></li>
                                                <li class="col-5">
                                                        <span data-tag="curnum" class="red" style="padding-top: 9px;">

                                                        </span>
                                                </li>
                                                <li class="col-6a">
                                                        <span class="btn-s btn-red btn-redd"
                                                              style="margin: 6px 0;background-color: #5f5f5f"
                                                              data-id="ydspan">
                                                            <a href="" data-id="yd"
                                                               style="background-color: #5f5f5f"><em>满房</em></a></span>

                                                </li>

                                            </ul>
                                            <ul class="room_detail">
                                                <img src="/static/room_images/{{ roomstyle.style }}" width="100"
                                                     height="75" class="room_pic" alt="速8精选酒店">
                                                <ul class="room_equipment">
                                                    <li>
                                                        床型：1.8*2米
                                                    </li>
                                                    <li>
                                                        建筑面积：23平米
                                                    </li>
                                                    <li>

                                                    </li>
                                                    <li>
                                                        特殊说明：无烟房
                                                    </li>
                                                    <li>

                                                    </li>
                                                </ul>
                                            </ul>
                                        </div>

                                    </div>
                                    <!--[CDATA[-->
                                {% else %}
                                    <input type="hidden" value="318" data-id="hidprice">
                                    <div class="group" data-id="27293">
                                        <input type="hidden" value="27293" data-bind="roomid">
                                        <ul class="row-base">
                                            <li class="col-1">
                                                <a class="icon-pic" href="javascript:void(0)"
                                                   onclick="HotelList.IconCick.call(this);">{{ roomstyle.desc }}</a>
                                                <span class="cheapest te" data-id="ajaxblock" title="客房团购">&nbsp;&nbsp;&nbsp;</span>
                                                <span class="cheapest quanr" data-id="ajaxblock" data-account="0"
                                                      data-voucher="0">&nbsp;&nbsp;&nbsp;</span>
                                                <span class="cheapest return">速8精选</span>

                                            </li>
                                            <li class="col-2">
                                                <del><span style="padding-top: 9px;"
                                                           data-id="jg">￥{{ roomstyle.dorprice }}</span></del>
                                            </li>
                                            <li class="col-3"><span style="padding-top: 9px;"
                                                                    data-id="jg">￥{{ roomstyle.webprice }}</span>
                                            </li>
                                            <li class="col-4"><span class="memberprice memberpriceHover"
                                                                    style="padding-top: 6px;" data-web="486"
                                                                    data-ep="459"
                                                                    data-vip="428" data-gold="415" data-super="399"
                                                                    data-account="0" data-voucher="0" data-id="jg">￥<em
                                                    data-id="kyj">{{ roomstyle.huiyuanprice }}</em><i>起</i></span></li>
                                            <li class="col-5">
                                                <span data-tag="curnum" class="red" style="padding-top: 9px;">
                                                    最后{{ roomstyle.num }}间
                                                </span>
                                            </li>
                                            <li class="col-6">
                                                    <span class="btn-s btn-red btn-redd"
                                                          style="margin: 6px 0;background-color: red;"
                                                          data-id="ckyd"><em><a
                                                            href="{% url 'app:makeorder' roomstyle.id %}"
                                                            style="color: #FFFFFF">预订</a></em></span>

                                            </li>
                                        </ul>
                                        <div class="price_box hidden">

                                            <ul class="price_ul">
                                                <li class="col-1a">
                                                    <span class="cheapest quanr" data-id="ajaxblock" data-account="0"
                                                          data-voucher="0">券</span>
                                                    <span style="padding-top: 9px;">会员价(含早）</span>
                                                </li>
                                                <li class="col-2">
                                                    <del><span style="padding-top: 9px;"
                                                               data-id="jg">￥{{ roomstyle.dorprice }}</span></del>
                                                </li>
                                                <li class="col-3"><span style="padding-top: 9px;"
                                                                        data-id="jg">￥{{ roomstyle.webprice }}</span>
                                                </li>
                                                <li class="col-4"><span class="memberprice memberpriceHover"
                                                                        style="padding-top: 6px;" data-web="486"
                                                                        data-ep="459" data-vip="428" data-gold="415"
                                                                        data-super="399" data-account="0"
                                                                        data-voucher="0"
                                                                        data-id="jg">￥<em>{{ roomstyle.huiyuanprice }}</em><i>起</i></span>
                                                </li>
                                                <li class="col-5">
                                                    <span data-tag="curnum" class="red" style="padding-top: 9px;">

                                                    </span>
                                                </li>
                                                <li class="col-6a">
                                                    <span class="btn-s btn-red fl" style="margin: 6px 0;"
                                                          data-id="ydspan"><a id="addcart" href="javascript:void(0);"
                                                                              data-id="yd"
                                                                              onclick="HotelList.YDClick.call(this);"><em>预订</em></a></span>

                                                </li>

                                            </ul>
                                            <ul class="room_detail">
                                                <img src="/static/room_images/{{ roomstyle.style }}" width="100"
                                                     height="75"
                                                     class="room_pic" alt="速8精选酒店">

                                                <ul class="room_equipment">
                                                    <li>
                                                        {% if roomstyle.iswifi == 1 %}
                                                            WIFI:免费
                                                        {% endif %}
                                                    </li>
                                                    <li>
                                                        建筑面积：{{ roomstyle.size }}平米
                                                    </li>
                                                    <li>
                                                        {% if roomstyle.breakfast == 1 %}
                                                            早餐：油条
                                                        {% else %}
                                                            早餐：无
                                                        {% endif %}
                                                    </li>
                                                    <li>
                                                        特殊说明：无烟房
                                                    </li>
                                                    <li>
                                                        外窗
                                                    </li>
                                                </ul>
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <!--[CDATA[-->


                        </div>
                        <!--[CDATA[-->
                    </div>
                    <!--]]〉-->
                </div>
            </div>
        </div>
        <a href="" name="hotel_detail"></a>
        <div id="hotel-detail">
            <div class="section mt15">
                <div class="title-bar">
                    <h3>酒店介绍</h3>
                </div>
                <div class="subject-detail">
                    速8酒店北京三里屯工体春秀路店位于东二环外春秀路上，东临农展馆，西接著名饮食文化街——“簋街”，毗邻老国展中心，使馆区，工人体育馆等，酒店地理位置优越，交通十分便利。
                    　　酒店拥有各类客房，大堂有咖啡机及商务中心，供您在工作之余可以放松一下疲惫的身体，房内设有电视、电话、空调、独立淋浴间、24小时热水，半智能话设备一应俱全，房间风格独特，采光充足，以满足宾客的不同需求，让您住得舒心舒适，是居家旅行的不错选择。
                </div>
            </div>
            <div class="section">
                <div class="title-bar">
                    <h3>酒店设施</h3>
                </div>
                <div class="subject-facility">


                    <dl>
                        <dt>上网服务</dt>
                        <dd>
                            <br>
                            <span>免费宽带</span>
                            <br>
                            <span>免费WiFi </span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>酒店服务</dt>
                        <dd>
                            <br>
                            <span>钟点房</span>
                            <span style="color: #F00; font-size: 11px;">(收费)</span>
                            &nbsp;<span>158元/3小时</span><span></span>
                            <br>
                            <span>结算服务</span>
                            &nbsp;<span>酒店可接受以现金、储蓄卡、国内信用卡、MASTAR信用卡进行结算</span><span></span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>房间设施</dt>
                        <dd>
                            <br>
                            <span>24小时热水</span>
                            <br>
                            <span>免费洗漱用品</span>
                            <br>
                            <span>空调</span>
                            &nbsp;<span>中央空调</span><span></span>
                        </dd>
                    </dl>
                </div>
            </div>

        </div>
        <a href="" name="pingjia"></a>
        <div class="section" id="hotel-commentTop">

            <div class="title-bar">
                <h3>住客评价<small>（累计评价<em class="red" data-id="commentcount">{{ reflexs | length }}</em>条）</small></h3>
            </div>
             <ul class="comment-tab" data-id="comment-tab">
            </ul>
            <div data-id="g2" class="comment-content mt20">

                <div data-bind="containercomment">
                    {% for reflex in reflexs %}
                    <div data-bind="repetercomment" style="">
                        <!--]]〉-->
                        <div class="item-comment" data-id="itemcomment" data-data="3284616">
                            <div class="col-user">
                               {{ request.user.phone | slice:":3"}}****{{ request.user.phone | slice:"7:"}}
                               <span class="time">{{ reflex.create_time | date }}</span>
                            </div>
                            <div class="col-content">
                                {% if reflex.level == 4 %}
                                    <div class="score">强烈推荐</div>
                                {% elif reflex.level == 3%}
                                    <div class="score">推荐</div>
                                {% elif reflex.level == 2 %}
                                    <div class="score">一般</div>
                                {% elif reflex.level == 1 %}
                                    <div class="score">差</div>
                                {% else %}
                                    <div class="score">吐槽</div>
                                {% endif %}
                                <span data-id="span">{{ reflex.content }}</span>
                            </div>
                        </div>
                        <!--[CDATA[-->
                    </div>
                    {% endfor %}
                    <!--]]〉-->
                </div>

                <div class="pager" id="comment-pager"><a href="javascript:void(0);" class="current">1</a><a
                        href="javascript:void(0);">2</a><a href="javascript:void(0);">3</a>
                    <a href="javascript:void(0);"class="next unclick">下一页</a>
                </div>
            </div>
        </div>
        <script src="/static/js/HotelComment.js"></script>
        <script>

        </script>


    </div>

{% endblock %}
