{% extends 'app/yudingindex.html' %}

{% block loginymm %}


<!--REG START-->
<div style="z-index: 19999; position: fixed; top: 45px; left: 50.5px;">
    <div class="box-login" id="pop-login" style="top: 193.5px; left: 456.5px; position: absolute; z-index: 19999;">
        <div class="close">
            <a href="{% url 'app:yuding' %}" id="closelogin" onclick="closeWindow('pop-login')">
                <img src="../../static/images/close-icon.gif">
            </a>
        </div>
        <div class="title-barlogin title-bar-pop">
            <h2 class="tab-person current" id="checkchengeindexlogin"><em>个人</em>登录</h2>
        </div>

        <div class="login-tab-content login-tab-content-pop">
            <div class="tab-person">
                <form action="{% url 'app:loginym' %}" id="IndexLogin" method="post">
                    {% csrf_token %}
                    <div class="form-group form-group-name">
                        <label class="ui-placeholder" for="input-name" node_type="key">
                            <span class="placeholder-text" style="display: none;">手机号码</span>
                            <input name="username" type="text" value="" placeholder="手机号码">
                        </label>
                        <input id="RefUrl" name="RefUrl" type="hidden" value="http://127.0.0.1:8000/">
                    </div>
                    <div class="form-group form-group-password">
                        <label class="ui-placeholder" for="input-pw" node_type="key">
                            <span class="placeholder-text" style="display: none;">密码</span>
                            <input name="password" type="password" placeholder="密码">
                        </label>
                    </div>
                    <div class="form-imgcode form-group-imgcode">
                        <input onfocus="checkReg('yzm')" size="25" class="px" node_type="input" name="ImgCode" id="yzm" type="text" autocomplete="off" placeholder="验证码">
                       <img src="{% url 'app:yzm' %}" id="p_yzm" onclick="show('p_yzm')" style="cursor:pointer;width: 65px;height: 30px" />
                        <a href="javascript:;" onclick="show('p_yzm')">看不清？</a></i>&nbsp;&nbsp;{{ restyzm }}
                    </div>
                        <script>
                            function checkReg(obj){
                                document.getElementById('tip_'+obj).style.display='block';
                            }

                            function checkRegOut(obj,test){
                                if(document.getElementById(obj).value==''){
                                    document.getElementById('tip_'+obj).innerHTML='<b style="color:red;">'+test+'</b>';
                                }else{
                                    document.getElementById('tip_'+obj).style.display='none';
                                }
                            }

                            function show(obj){
                                document.getElementById(obj).src='{% url "app:yzm" %}?math='+Math.random();
                            }
                        </script>
                    <div class="item item-remember">
                        <a class="link-forgot fr" href="/findcode/">忘记密码</a>
                    </div>
                    <dl class="item item-third">
                        <dt><a id="tandregister" href="/registerym">立即66注册</a></dt>
                    </dl>
                    <div>
{#                        <button  type="submit" name="loginsubmit" value="true" >#}
{#                            <strong><a href="{% url 'app:yuding' %}"></a>提交</strong>#}
{#                        </button>#}
                        <input type="submit" name="loginsubmit"  value="提交1">
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>
<!--REG END-->


{% endblock %}