
{% extends 'app/yudingindex.html' %}
{% block myorderdetail %}
<body class="page-user">



<script src="/static/js/HeardInfo.js"></script>
<div class="grid wrapper clearfix">
<div class="g1" style="width: 170px">
    <div class="sidenav">
        <h2 class="title-bar"><a href="">我的速8</a></h2>
        <ul>
            <li class="item-parent">

                <a href="">我的订单
                <a href="{% url 'app:myorderdetail' %}">我的订单
                </a>
            </li>


            <li class="item-parent"><span class="name">个人信息</span></li>
            <li class="item-child">
                <ul>
                    <li><a href="">个人资料</a></li>
                    <li><a href="{% url 'app:findcode' %}">密码修改</a></li>
                    
                    <li><a href="">常用信息管理</a></li>
                </ul>
            </li>
            <li class="item-parent last"><a href="">我的收藏</a></li>
        </ul>
    </div>
    <div class="side-ad"><a target="_blank" href="">
        <img src="/static/room_images/1.jpg" alt=""></a>
    </div>
</div>

{% block mysuper %}
<link href="/static/css/user.css" rel="stylesheet" type="text/css" media="all">
<link href="/static/css/v-user.css" rel="stylesheet" type="text/css" media="all">
<link href="/static/css/jquery.mloading.css" rel="stylesheet">
<div class="g2 border-wrapper" style="width: 820px;">

    <div class="box-order" id="box-order" style="width: 820px;">
        <div class="title-bar" style="width: 820px;">
            <h2>我的订单</h2>
            <a class="tip" href="">完善个人信息</a>
        </div>

        <ul class="order-tab" data-id="order-tab">
            <li class="item-tab current" data-type="0" style="background-color: #ff4328">
                <a href="{% url 'app:myorderdetail' %}">全部</a></li>
            <li class="item-tab" data-type="1"><a href="{% url 'app:myorderdetail' %}?myorder=1">待入住</a></li>
            <li class="item-tab" data-type="20"><a href="{% url 'app:myorderdetail' %}?myorder=2">代付款</a></li>
            <li class="item-tab" data-type="20"><a href="{% url 'app:myorderdetail' %}?myorder=3">待评价</a></li>

        </ul>
        <!--[CDATA[-->
        <div data-bind="container" style="width: 820px;">
            <!--]]〉-->
            <table class="table-order" style="width: 820px;">
                <tbody><tr>
                    <th width="110">订单号</th>
                    <th width="220">入住酒店</th>
                    <th width="90">入住时间</th>
                    <th width="70">总金额</th>
                    <th width="80">订单状态</th>
                    <th width="60">点评</th>
                    <th width="">操作</th>
                    <th width="60">&nbsp;</th>
                </tr>

                <!--[CDATA[-->
                </tbody>

                {% if myorderdetails %}
                {% for myorderdetail in myorderdetails %}
                <tbody data-bind="repeter" style="">
                    <!--[CDATA[-->
                    <tr class="item-order">
                        <td>{{ myorderdetail.create_time | date:'Ymd' }}{{ myorderdetail.id }}<br>
                            <a class="red link-expand" href="javascript:void(0)">订单详情 <i class="arrow"></i></a>
                        </td>
                        <td><a class="link" href="">速88酒店北京宝盛北里店</a></td>
                        <td>{{ myorderdetail.check_in_time | date:'Y-m-d'}}</td>
                        <td><em class="font-yahei">￥{{ myorderdetail.price }}</em></td>
{#                        判断订单状态    #}
                        {% if myorderdetail.order_status == 0 %}
                            <td>已预订</td>
                            <td></td>
                        {% elif  myorderdetail.order_status == 1 %}
                            <td>已入住</td>
                            <td><a  href="{% url 'app:hotelreflex' %}?myorderdetail_id={{ myorderdetail.id }}"
                                    style="color: #0d88c1;">去评价</a>
                            </td>
                        {% elif  myorderdetail.order_status == 3 %}
                            <td>已入住</td>
                            <td>已评价</td>
{#                        {% elif  myorderdetail.order_status == 2 %}#}
{#                            <td>已取消，失效#}
{#                            </td>#}
{#                            <td></td>#}
                        {% elif  myorderdetail.order_status == 4 %}
                            <td>已预订
                            </td>
                            <td></td>
                        {% else %}
                            <td>已取消，失效</td>
                            <td></td>
                        {% endif %}


                        <td>
                            {% if myorderdetail.order_status == 0 %}
                                <a class="link" href="{% url 'app:myorderdetail' myorderdetail.id  %}?myorder=44"
                                   onclick="return confirm('确定要取消订单吗');">取消订单</a>
                            {% elif  myorderdetail.order_status == 4 %}
                                <a class="link" href="{% url 'app:myorderdetail' myorderdetail.id  %}?myorder=44"
                                   onclick="return confirm('确定要取消订单吗');">取消订单</a>
                                <a class="link" href="{% url 'app:alipay'  myorderdetail.id %}"
                                   class="btns btn-orange"  data-id="submit" id="tj">去付款</a>

                            {% else %}
                                <a class="link" href="{% url 'app:yuding' %}">再次预订</a>
                            {% endif %}

                        </td>
                        <td></td>
                    </tr>
                    <tr class="item-order-info hidden">
                        <td colspan="8">
                            <div class="box-order-info">
                                <h4>速88官网-刘氏集团<b></b></h4>
                                <input type="hidden" value="38015114" data-bind="OrderID">

                                <table class="table-order-info">
                                    <!--[CDATA[-->
                                    <tbody data-bind="repeter1" style="">
                                        <!--]]〉-->
                                        <tr>
                                            <td width="33%">订单号：{{ myorderdetail.create_time | date:'Ymd' }}{{ myorderdetail.id }}</td>
                                            <td width="33%">联系人：{{ myorderdetail.username }}  预付订单</td>
                                            <td width="33%">联系电话：{{ myorderdetail.phone }}</td>
                                        </tr>
                                        <tr>
                                            <td>入住人：{{ myorderdetail.username }} 预付订单</td>
                                            <td colspan="2">住店日期：{{ myorderdetail.check_in_time }} 18:00 至 {{ myorderdetail.check_out_time }} 12:00</td>
                                        </tr>
                                        <tr>
                                            <td>房型：{{ myorderdetail.room.desc }} </td>
                                            <td colspan="2">房间数：{{ myorderdetail.order_room_num }}间</td>
                                        </tr>
                                        <tr>
                                            {% if myorderdetail.order_status == 2 %}
                                            <td>付款方式：订单取消，已退款 </td>
                                            {% else %}
                                                <td>付款方式：预付 </td>
                                            {% endif %}
                                            <td colspan="2">预订保留时间：{{ myorderdetail.check_in_time }} 22:00</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <span class="f14">总金额：<b class="red">￥{{ myorderdetail.price }}</b></span><br>
                                                <span class="gray">非现金支付部分不开具发票</span>
                                            </td>
                                        </tr>

                                        <!--[CDATA[-->
                                    </tbody>
                                    <!--]]〉-->
                                </table>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="hidden" data-id="hid_pageindex" value="1">
                            <input type="hidden" data-id="hid_pages" value="1">
                            <input type="hidden" data-id="hid_rscount" value="1">
                        </td>
                    </tr>
                    <!--[CDATA[-->

                </tbody>
                {% endfor %}
                {% endif %}
                <!--]]〉-->
            </table>
            {% if not myorderdetails %}
                    <div style="margin: 30px auto 0px; width: 100%; color: rgb(174, 0, 0); font-size: 14px; line-height: 30px; background: left center no-repeat; text-align: center;">
                        <img src="/static/images/icon-srch-empty.gif" alt="">
                        "很抱歉，没有最新的信息，你可以继续搜索"

                    </div>
            {% endif %}
            <!--[CDATA[-->
        </div>
        <!--]]〉-->

    </div>
    <div class="pager" id="pager"><a href="javascript:void(0);" class="current">1</a></div>
</div>
{% endblock mysuper %}






<script src="/static/js/MemCusOrder.js"></script>
<script src="/static/js/lrz.all.bundle.js"></script>
<script src="/static/js/imgUp.js"></script>
<script>
    var imgFileArr = [];
    function getOrderidDetail(aid, hid) {
        $("#commentDetail").html("");
        popupMemberSupper("del-wrap");
        var varhtml = "";
        if (aid != "" && hid != "") {
            $.ajax({
                async: false,
                url: '/MemInfo/GetHotelmentDetail',
                data: {
                    orderid: aid, hotelid: hid,
                    romid: Math.random()
                },
                dataType: "json",
                success: function (data) {
                    if (data != "-1") {
                        $("#commentDetail").html(data);
                    };
                }
            });
        }
    }
    function getconnetshow(comid) {
        $("#connetshow_" + comid + "").hide();
        $("#phid_" + comid + "").show();
    }

    $(function () {
        $('.comment-write-pop .negative-choice input').click(function () {
            $('.detailed-comment').slideDown();
        });
        $('.comment-write-pop .positive-choice input').click(function () {
            $('.detailed-comment').slideUp();
            $('.comment-write-pop .detailed-choices li').removeClass('selected');
        });
    })
    $(function () {
        $('.comment-write-pop .detailed-choices a').click(function () {
            $(this).closest('li').toggleClass('selected');
        })
    })

    function butpj() {
        var botype = false;
        //var recommendindex = $('input[type=radio][name=recommending-rate]:checked').val();
        var pjtype = $('input[name=satisefy]').val();
        var pjtxt = $("#pjtt").val().replace(/<[^>]+>/g, "").replace(/ /g, '');
        var listUL=$('.three-faces').next();
        var a1 =listUL.eq(0).val() ;//$('input[type=radio][name=pjradio1]:checked').val()
        var a1Name=listUL.eq(0).attr('name');
        var b1 =listUL.eq(1).val() ;//$('input[type=radio][name=pjradio2]:checked').val()
        var b1Name=listUL.eq(1).attr('name');
        var c1 =listUL.eq(2).val() ;//$('input[type=radio][name=pjradio3]:checked').val()
        var c1Name=listUL.eq(2).attr('name');
        var d1 =listUL.eq(3).val() ;//$('input[type=radio][name=pjradio4]:checked').val()
        var d1Name=listUL.eq(3).attr('name');

        var pingjiaTag='';
        if(pjtype>2)
        {

            $('.feature-bad li').each(function(){
                if($(this).attr('s')=='1')
                {
                    pingjiaTag =pingjiaTag+"|"+$(this).text();
                }
            });

        }else
        {
            $('.feature-good li').each(function(){
                if($(this).attr('s')=='1')
                {
                    pingjiaTag =pingjiaTag+"|"+$(this).text();
                }
            });
        }


        if (pjtype == 1 || pjtype == 2 || pjtype == 3 || pjtype == 4 || pjtype == 5) {
            $("#error").hide();
            $("#error4").hide();
            botype = true;
        } else {
            $("#error").show();
            $("#error4").show();
            botype = false;
            return;
        }
        //if (recommendindex == 0 || recommendindex == 1 || recommendindex == 2 || recommendindex == 3 || recommendindex == 4 || recommendindex == 5 || recommendindex == 6 || recommendindex == 7 || recommendindex == 8 || recommendindex == 9 || recommendindex == 10) {
        //    $("#error3").hide();
        //    $("#error5").hide();
        //    botype = true;
        //} else {
        //    $("#error3").show();
        //    $("#error5").show();
        //    botype = false;
        //    return;
        //}
        if (a1 >0) {
            $("#error1").hide();
            botype = true;
        } else {
            $("#error1").show();
            alert('点评项必须填写');
            botype = false;
            return;
        }
        if (b1 >0) {
            $("#error1").hide();
            botype = true;
        } else {
            $("#error1").show();
            alert('点评项必须填写');
            botype = false;
            return;
        }
        if (c1 >0) {
            $("#error1").hide();
            botype = true;
        } else {
            $("#error1").show();
            alert('点评项必须填写');
            botype = false;
            return;
        }
        if (d1 >0) {
            $("#error1").hide();
            botype = true;
        } else {
            $("#error1").show();
            alert('点评项必须填写');
            botype = false;
            return;
        }



        var feels = a1Name+':' +a1 + '|'+ b1Name+':' + b1 + '|'+c1Name+':' + c1 + '|'+d1Name+':' + d1 ;
        if (pjtxt != "") {
            $("#error2").hide();
            botype = true;
        } else {
            $("#error2").show();
            alert('评论内容必须填写');
            botype = false;
            return;
        }

        if (pingjiaTag != "") {
            $("#error3").hide();
            botype = true;
        } else {
            $("#error3").show();
            alert('标签必须选择');
            botype = false;
            return;
        }
        var hotelid = $("#hid_getHotelid").val();
        var aid = $("#hid_getOrderid").val();
        var files = $("#Files").val();
        //$("#recommendindex").val(recommendindex);
        $("#aid").val(aid);
        $("#hotelid").val(hotelid);
        $("#pjtype").val(pjtype);
        $("#pjtxt").val(pjtxt);
        $("#feels").val(feels);
        $("#pingjiaTag").val(pingjiaTag);
        $("#FbdpBtn").attr('disabled',"true");

        if (imgFileArr.length > 0) {
            var j = 0;
            var k = "";
            for (var i = 0; i < imgFileArr.length; i++) {
                lrz(imgFileArr[i]).then(function (rst) {
                    var img = rst.base64;
                    img = img.replace("data:image/jpeg;base64,", "");
                    $.ajax({
                        type: "post",
                        async: false,
                        url: '/MemInfo/aimageUpload?r=' + Math.random(),
                        data: { FileUpload: img, hotelid: hotelid },
                        dataType: 'text',
                        success: function (data) {
                            j++;
                            if (data != 0) {
                                k += data + ';';
                                if (j == imgFileArr.length) {
                                    $("#files").val(k);
                                    $("form").submit();
                                }
                            }
                        }
                    });
                })
            }
        } else {
            if (botype) {
                $("form").submit();
            }
        }
    }

//新评论
    function showPop(element){
        $('.' + element).show();
        $('body').css('overflow','hidden').append('<div class="bg-pop"></div>');
        $('html').css('overflow','hidden');
    }

    function hidePop(element){
        $('.' + element).hide();
        $('body div').remove('.bg-pop');
        $('body').css('overflow','auto');
        $('html').css('overflow','auto');
    }

    $(function(){
        $('.main-face-ul li').click(function(){
            $(this).find('div').addClass('current').parent().siblings().find('div').removeClass('current');
            var i = $(this).index();
            $(this).parent().next().val(5-i);
            if(i<3){
                $('.feature-bad').show();
                $('.feature-good').hide();
            }else{
                $('.feature-bad').hide();
                $('.feature-good').show();
            }
        });
    });

    $(function(){
        $('.three-faces li').click(function(){
            var i = $(this).index();
            var t;
            //alert(i);
            $(this).siblings().removeClass('face-smile').removeClass('face-sad');
            if(i<3){
                $(this).addClass('face-sad');
                for(t=0; t<=i; t++){
                    $(this).parent().find('li').eq(t).addClass('face-sad');
                }
            }else{
                $(this).addClass('face-smile');
                for(t=0; t<=i; t++){
                    $(this).parent().find('li').eq(t).addClass('face-smile');
                }
            }

            switch(i){
                case 0:
                    $(this).parent().parent().find('.comment').text('吐槽');
                    $(this).parent().next().val('1');
                    break;
                case 1:
                    $(this).parent().parent().find('.comment').text('差');
                    $(this).parent().next().val('2');
                    break;
                case 2:
                    $(this).parent().parent().find('.comment').text('一般');
                    $(this).parent().next().val('3');
                    break;
                case 3:
                    $(this).parent().parent().find('.comment').text('很满意');
                    $(this).parent().next().val('4');
                    break;
                case 4:
                    $(this).parent().parent().find('.comment').text('强烈推荐');
                    $(this).parent().next().val('5');
                    break;
            }
        });
    });

    $(function(){
        $('.feature-ul li').click(function(){
            var select= $(this).attr('s');

            if(select=='1')
            {
                $(this).attr('s','0');
            }else
            {
                $(this).attr('s','1');
            }
            $(this).toggleClass('current');
        });
    });

    $(function(){
        var phoWidth = $('.photos-wrap .photo-comment').width();
        $('.photos-wrap .photo-comment').height(phoWidth);
    });


</script>

    </div>

<script type="text/javascript">
    var qimoClientId = { userId: '+3KnwMLlw/sw/+CuxQMLiw==_f327bff0f1918eff_2019/9/19 19:42:58', nickName: "刘**女士" };// 自定义用户的唯一id,由英文字母,数字,下划线组成
</script>
<script type="text/javascript" src="/myorderdetail_files/7moorInit.js" async="async">
</script>
<script src="/myorderdetail_files/o_code.js"></script>

    <script>
        $(function () {
            $('.pop-ad .close a').click(function () {
                $('#pop-ad').slideToggle(1000, function () {
                    DClearHomeAdPopup();
                })
            });
        });
        function DClearHomeAdPopup() {
            $.ajax({
                type: "post",
                url: "/Direct/CloseHomeAd",
                data: {
                    curtime: new Date()
                },
                dataType: "json"
            });
            $('#pop-ad').hide();
        }
    </script>


    <script src="/static/js/popup.js"></script>
    <script src="/static/js/global.js"></script><div id="jump-top-box" style="top: 477px; display: block;"><a class="jump-top" href="javascript:void(0)"></a></div>
{% endblock myorderdetail %}

{#</body></html>#}
