.pop-ad{ background-color:#000;background-image:none;  background-color:rgba(0,0,0,0.7); width:100%; height:115px; position:fixed; bottom:0; left:0; right:0; z-index:1990; }
@media \0screen\,screen\9 {/* 只支持IE6、7、8 */
  .pop-ad{
	background-color:#000; 
    filter:Alpha(opacity=85);
    /*position:static; IE6、7、8只能设置position:static(默认属性) ，否则会导致子元素继承Alpha值 */
    *zoom:1; /* 激活IE6、7的haslayout属性，让它读懂Alpha */
  }
}
.pop-ad .inner{width:1010px; margin:0 auto; position:relative; }
.pop-ad .inner .close{ position:absolute; right:0; top:0; }
.pop-ad .inner .close a{ display:block; padding:10px 5px; }
.pop-ad .inner .pop-img-1{ float:left; margin-top:-16px; padding-top:0; padding-right:12px; }
.pop-ad .inner .pop-img-4{ position:absolute; right:0; top:49px; z-index:100; padding:0; width:144px }
.pop-ad .pop-ad-a{ display:block; width:100%; height:115px; position:relative }

.reserve11-entance{ position:absolute; right:-110px; top:55px }